
@roboto : 'Roboto', sans-serif;
@roboto_cond : 'Roboto Condensed', sans-serif;
@imgPath : '../img/';


/* Color palette */
@grey: #515155;
@grey_light: #a2a2ac;
@grey_light2: #e7e7ea;
@grey_dark: #28282b;
@grey2: #5e5e62;
@red: #d60006;
@yellow : #fdc300;
@blue : #2b85d0;
@green : #669900;
@orange : #ff9000;
@white : #fff;
@white2 : #f8f8f8;

@variable_iepg : #fdc300;
@variable_eco : #2b85d0;
@variable_militar : #669900;
@variable_soft : #ff9000;


html, body{ height:100%;}


body {
	.roboto();
	color:@grey;
	font-size:16px;
	line-height:24px;
    min-width: 768px !important; 
}
a.simple{
	border-bottom: none !important;
	text-decoration: none !important;
}

a.simple:hover{
	border-bottom: 1px solid @yellow !important;
	text-decoration: none !important;
}

a.nostyle{
    color:inherit !important;
    border-bottom: none !important;
    text-decoration: none !important;
}
a.nostyle:hover{
    border-bottom: none !important;
    text-decoration: none !important;
    color:inherit !important;
}

a.grey_light{
    color:@grey_light;
}

p,span,div,table{
	.roboto();
}

input{
	padding: 0 10px;
	border: none;
	
}
input[placeholder]{
	.roboto();
	color:@grey_light;
}



.grey{ color: @grey;}
.red { color : @red;}
.yellow { color: @yellow;}
.grey_light { color: @grey_light ;}
.grey_dark { color: @grey_dark ;}
.blue { color: @blue;}
.green { color: @green;}
.orange { color: @orange;}
.grey2 { color:@grey2;}


/* Fonts */

/*@style=thin,light,normal,medium,bold,ultra-bold*/ 
.roboto(@style) when(@style=thin){
	font-weight:100;
	font-family: @roboto;
}

.roboto(@style) when(@style=thinitalic){
	font-weight:100;
	font-style: italic;
	font-family: @roboto;
}

.roboto(@style) when(@style=light){
	font-weight:300;
	font-family: @roboto;
}

.roboto(@style) when(@style=lightitalic){
	font-weight:300;
	font-style: italic;
	font-family: @roboto;
}

.roboto(){
	font-weight:400;
	font-family: @roboto;
}

.roboto(@style) when(@style=italic){
	.roboto();
	font-style: italic;
}

.roboto(@style) when(@style=medium){
	font-weight:500;
	font-family: @roboto;
}

.roboto(@style) when(@style=mediumitalic){
	font-weight:500;
	font-style: italic;
	font-family: @roboto;
}

.roboto(@style) when(@style=bold){
	font-weight:700;
	font-family: @roboto;
}

.roboto(@style) when(@style=bolditalic){
	font-weight:700;
	font-style: italic;
	font-family: @roboto;
}

.roboto(@style) when(@style=ultra-bold){
	font-weight:900;
	font-family: @roboto;
}

.roboto(@style) when(@style=ultra-bolditalic){
	font-weight:900;
	font-style: italic;
	font-family: @roboto;
}

.roboto_cond(){
	font-weight:400;
	font-family: @roboto_cond;
}

.roboto_cond(@style) when(@style=italic){
	.roboto_cond();
	font-style: italic;
}

.roboto_cond(@style) when(@style=bold){
	font-weight:700;
	font-family: @roboto_cond;
}

.roboto_cond(@style) when(@style=bolditalic){
	font-weight:700;
	font-style: italic;
	font-family: @roboto_cond;
}

.roboto_cond(@style) when(@style=light){
	font-weight:300;
	font-family: @roboto_cond;
}

.roboto_cond(@style) when(@style=lightitalic){
	font-weight:300;
	font-style: italic;
	font-family: @roboto_cond;
}

.roboto_light{.roboto(light);}
.roboto_cond_bold{.roboto_cond(bold);}
.roboto_bold{.roboto(bold);}
.text_bold{ .roboto(bold);}

.trans_opacity(){
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.trans_opacity{
    .trans_opacity();
}

.button{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background-color: @grey_light;
    color: @white ;
    font-size: 16px;
    padding: 0px 13px;
    cursor: pointer;
    .roboto();

    strong{
        .roboto(bold);
    }
}

.button.white{
    background-color: @white;
    color:@grey_light;
    border:1px solid;
}

.button.check{
    background: url("@{imgPath}/ELC_icon_stick_boton.svg") no-repeat right 10px center @grey_light ;
    padding-right: 45px;
}

.button:hover{
    color: @white;
    background-color:@grey_dark;
}

header{
    height: 55px;
    background-color: @grey_dark;
    z-index: 5;
    position: relative;

    #top_logo{
        float:left;
        margin-left: 20px;
    }

    h1{
        padding-top: 16px;
        text-align: center;
        span{
            background: url("@{imgPath}/ELC_icon_explora_cab.svg") no-repeat left center;    
            padding-left: 32px;
            .roboto(light);
            color:@white;
            font-size: 21px
        }
    }   

    h2{
        float:right;
        margin-right: 20px;
        padding-top: 14px;
    }

}

h2{
    color: @red;
        font-size: 21px;
        .roboto_cond(bold);
}

h3{
    color:@red;
    font-size: 21px;
    .roboto(light);
}

h4{
    .roboto(bold);
    font-size: 13px;
    color: @red;
}

footer{
    background-color: @grey;
    height: 73px;
    border-top: 1px solid @grey_dark;
}

main{
    position: relative;

}

#map{
    background-color: #e3e3e6;
    z-index:1;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}

#base{
    float:left;
    height: 100%;
    

}

#control_area,#tool{
    position: absolute;
    top: 55px;    
}

#control_area{
    left: 0;
    width: 54px;
    z-index: 4;

    a{
        display: block;
        opacity: 0.35;
        .trans_opacity();
    }

    a:hover{
        opacity: 1.0;
    }

    #ctrl_tool{
        background: url("@{imgPath}ELC_bot_desplegar_herramientas.svg") no-repeat center center;
        width: 54px;
        height: 90px;
        /*border-top: 1px solid @grey_dark;
        border-right: 1px solid @grey_dark;
        border-bottom: 1px solid @grey_dark;*/
    }

    #ctrl_tool.open{
        background: url("@{imgPath}ELC_bot_plegar_herramientas.svg") no-repeat center center;
    }

    #control_panel{
        margin-top: 18px;
        #add_tool{
            a{
                background: url("@{imgPath}ELC_icon_abrir_herramientas.svg") no-repeat center center;
                width:54px;
                height: 54px;        
            }
            span{
                 display: block;
                 color:@grey;
                 font-size: 11px;
                 .roboto_cond();
                 text-align: center;
            }
        }

        ul{
            li{
                a{ 
                    background-color: @white;
                    text-align: center;
                    font-size: 15px;
                    .roboto_cond();
                    
                    margin-bottom: 2px;
                    background-color: @grey_dark;
                    color: @white;
                    border-right:1px solid transparent;
                    border-top:1px solid transparent;
                    border-bottom:1px solid grey_light;
                }

            }
            li[selected] a {
                color: @grey_dark;
                background-color: @white;
                border-right:1px solid @grey_dark;
                border-top:1px solid @grey_dark;
                border-bottom:1px solid @grey_dark;
            }
        }
    }

    
}

.toolBoxshadow(){
    box-shadow: 0px 0px 8px 0px @grey_light;
}

.fancybox-skin {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #d3d3d3;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 1px 7px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 7px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 7px -1px rgba(0, 0, 0, 0.5);
}


.popup{

    .header{
        padding:2*@line_height 20px 10px 20px;
        border-bottom: 1px solid @grey_light;
        margin-bottom: 10px;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;

        #cancel,#save{
            float:right;
        }
        #cancel{
            
            margin: 11px 15px 0px 15px;
            .roboto(medium);
            font-size:16px;
        }
        #n_selected{
            color:@red;
            font-size: 16px;
            text-align: right;
            margin-top: 10px;
            
        }
    } 

    .body{
        overflow-y : auto;
        position: absolute;
        top: 135px;
        bottom: 0;
        width: 100%;
    }
}


ul.flag_wrapper{
    li{
        cursor: pointer;
        line-height: 2*@line_height;
        border-bottom: 1px solid @grey_light2;

        img,span{
            float:left;
        }

        img{
            width: 25px;
            height: 25px;
            border-radius: 10px;
            margin: 5px 10px 0 0;
        }

        span{
            .roboto();
            font-size: 16px;
            color: @grey_dark;
        }
        
    }

    li[selected],li:hover{
        background: url("@{imgPath}ELC_icon_seleccionado.svg") #f1f1f3 no-repeat right 10px center;
        span{
            .roboto(bold);
        }
    }
    li:hover{
        background-image: url("@{imgPath}ELC_icon_seleccionado_hover.svg");
    }
    
}

ul.country_bar{
    li{
        height: 60px;
        margin: 20px 10px 0 10px;
        float:left;

        a{
            display: inline-block;
            border: 4px solid transparent;
            border-radius: 50px;
            
            img{
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid @grey_light2;
                border-radius: 50px;
            }
        }

        a[selected]{
            border: 4px solid @red;
        }

        a:hover{
            border: 4px solid @grey_dark;
        }
    }
}

#slider{
    margin: 31px 37px 0 37px;
    ul{
        position: relative;
        height: 10px;
        background-color: #7a7a81;
        li{
            position: absolute;
            top : -7px;
            height: 25px;
            color: #fff;
            left: 0;
            
            border-left: 2px solid #d6d6d6;
            
            .ornament{
                display: none;
            }

            .point{
                display: block;
                width: 50px;
                cursor: pointer;
                left: -27px;
                height: 10px;
                position: absolute;
                top: 7px;
            }
            .point::before{
                content:"";
                display: block;
                width: 2px;
                height: 100%;
                background-color: #515155;
                position: absolute;
                left: 50%;
            }

            label{
                position: absolute;
                left: -13px;
                top: 25px;
                color:#d6d6d6;
                font-size: 11px;
            }
        }
        

        li[selected]{
            
            border: none;

            label{
                color:@white;
            }

            .ornament{
                display: block;
                position: absolute;
                color: @white;
                .roboto(bold);
                font-size: 11px;
                background-color: @red;
                border: 1px solid @grey_light;
                padding: 0px 3px;
                line-height: 15px;
                z-index: 1;
                top: -20px;
                left: -15px;
            }

            .ornament::before{
                content: "";
                background-color: #d60006;
                width: 24px;
                height: 24px;
                border: 2px solid #fff;
                border-radius: 27px;
                position: absolute;
                left: 3px;
                top: 19px;
                z-index: 1;

            }

            .point{
                display: none;
            }
        }
    }
}

.co_selectable_tools{
    margin-top: 20px;
    ul {
        li{

            a{
                margin-bottom: 20px;
                display: block;

                img{
                    vertical-align: top;

                }

                p{
                    background-color: @grey_light;
                    font-size: 13px;
                    color: @white;
                    padding: 15px 20px;
                    .roboto(light);
                    strong{
                        .roboto(bold);
                        display: block;
                        text-transform: uppercase;
                        margin-bottom: 7px;
                    }
                    line-height: 16px;
                }

                .ico{
                   
                    position: absolute;
                    right: 21px;
                    top: 0;
                    width: 60px;
                    height: 55px;
                   
                    
                }

                .ico::after{
                    content:"";
                    background: url("@{imgPath}ELC_icon_seleccionar_herramientas.svg") no-repeat top right;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top:5px;
                    right: 5px;
                }

                .ico::before{
                    content:"";
                    width: 0;
                    height: 0;
                    border-left: 60px solid transparent;
                    border-bottom: 55px solid transparent;
                    border-right: 60px solid @grey_light;    
                    position: absolute;
                    top:0;
                    right: 0;
                }
            }

            a:hover{
                .ico::before{
                    border-right: 60px solid @red;    
                }

                .ico::after{
                    background-image: url("@{imgPath}ELC_icon_seleccionada_herramienta.svg");
                }
            }

            a[selected]{
                .ico::before{
                    border-right: 60px solid @red;    
                }

                .ico::after{
                    background-image: url("@{imgPath}ELC_icon_seleccionada_herramienta.svg");
                }
            }
            a[selected]:hover{
                .ico::after{
                    background-image: url("@{imgPath}ELC_icon_seleccionada_herramienta_hover.svg");
                }
            }
        }

      
    }
}

#ctrl_filter{
    width: 80px;
    height: 61px;
    border: 1px solid #d0d0d5;
    position: absolute;
    z-index: 4;
    right: 10px;
    top: 8px;
    background-color: @white;

    > * {
        float:left;
    }

    .co_img{
            margin: 10px 8px 10px 8px;
            width: 40px;
            height: 40px;
            background: url("@{imgPath}ELC_icon_filtros_paises_default.svg") no-repeat center center;    
        
    }
    .co_text{
        width:20px;
        height: 100%;
        background-color: #f8f8f8;
        position: relative;
         border-left: 1px solid #e8e8ea;
        span{
           transform:rotate(270deg);
            -ms-transform:rotate(270deg); /* IE 9 */
            -webkit-transform:rotate(270deg); /* Opera, Chrome, and Safari */
            position: absolute;
            bottom: 4px;
            right: 0;
            font-size: 11px;
            text-transform: uppercase;
            width: 22px;
           
        }
    }
    
}

#ctrl_filter.enable{
    .co_img{
        background-image: url("@{imgPath}ELC_icon_filtros_paises_aplicado.svg") !important;
    }
}

#extra_panel{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
    background-color: @white;
    left: 0;
    right: 0;
    padding-top: 50px;
}