
#tool{
    z-index: 3;
    left: 70px;
    right: 20px;
    /*margin-right: 20px;*/
    pointer-events: none;

    #country_panel {
        height:90px;
        background-color: @white;
        display: inline-block;
        .toolBoxshadow();
        pointer-events: all;

        a,ul{
            float:left;
        }

        a#ctrl_variables{
            display: block;
            background: url("@{imgPath}ELC_icon_seleccionar_variable.svg") @white2 no-repeat center top 15px;
            width:90px;
            height: 90px;
            .trans_opacity();
            border-left: 1px solid #e8e8ea;
            padding-top: 62px;
            text-align: center;
            font-size: 11px;
            .roboto();
            text-transform: uppercase;
        }

        a#ctrl_variables:hover{
            background-image: url("@{imgPath}ELC_icon_seleccionar_variable_hover.svg") ;   
            color: @red;
        }

        a#ctrl_countries{
            display: block;
            background: url("@{imgPath}ELC_icon_seleccionar_pais.svg") @white no-repeat center center;
            height:100%;
            width: 40px;
            margin:0 20px 0 15px;
        }

        a#ctrl_countries:hover{
            background-image: url("@{imgPath}ELC_icon_seleccionar_pais_hover.svg");
        }

        #co_sel_countries{

        }
    }
}

#tool_data{
    overflow-y: scroll;
    padding-bottom: 20px;
    margin-top:10px;
    background-color: @white;
    .toolBoxshadow();

    position: relative;
    pointer-events: all;

    .header{
        line-height: 53px;
        height: 53px;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        
        .close{
            background: url("@{imgPath}ELC_icon_descartar_herramienta.svg") no-repeat left top;
            width: 30px;
            height: 25px;
            margin: 13px 20px 0 0;
            float:right;
        }



        #tool_name,#tool_title,#tool_year{
            float:left;
        }

        #tool_name{
            height:100%;
            border-left:1px solid @white;
            padding-left: 10px;
            .roboto_cond(bold);
            font-size: 14px;
            color:@grey_dark;
            text-transform: uppercase;
        }

        #tool_title{
            .roboto();
            font-size: 18px;
            color:@red;
            margin-left: 10px;
        }

        #tool_year{
            .roboto(bold);
            font-size: 13px;
            color:@white;
            background-color: @red;
            border:1px solid @white;
            line-height: 20px;
            margin: 16px 0 0 10px;
            padding: 0 5px;

        }
    }

    .header[data-variable='iepg']{
        background: url("@{imgPath}variables/ELC_variable_iepg_cab.svg") no-repeat @variable_iepg left 5px center;
        padding-left: 58px;
    }

     .body{
        overflow-y : auto;
        position: absolute;
        top: 53px;
        bottom: 0;
        width: 100%;
    }
}

#country_tool {

    .co_ranking{
        text-align: right;
    }

    .sep{
        height:1px;
        background-color: @grey_light;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .chart{
        height : 200px;
        path {
            stroke: #fff;
            fill-rule: evenodd;
        }

        path:hover {
          fill: @grey_dark !important;
          cursor: pointer;
        }
    }   

    .legend{
        float: right;
        background-color: #fff;
        
        li{
            font-size: 11px;
            color: @grey;  
            margin-left: 18px;  
            padding-left: 10px;
        }

        li::before{ 
            content: "";
            float: left;
            height: 12px;
            width: 12px;
            margin-right: 5px;
            margin-top: 5px;
        }

        li:nth-child(1){
            .roboto(bold);
            margin-left: 0px;  
        }

        li:nth-child(1)::before{ 
            background-color: @variable_iepg;
        }

        li:nth-child(2)::before{ 
            background-color: @variable_eco;
        }

        li:nth-child(3)::before{ 
            background-color: @variable_militar;
        }

        li:nth-child(4)::before{ 
            background-color: @variable_soft;
        }

    }
    
    .flag{
        height: 25px;
        width: 25px;
        float:left;
        margin-top: 5px;
    }
}

div.tooltip {   
    position: absolute;                      
    width: 200px;                          
    padding: 10px;             
    font: 12px sans-serif;        
    background: @grey_dark;   
    border: 0px;         
    pointer-events: none;     
    z-index: 3;    

    span{
        line-height: 24px;
        font-size:13px;
    }
    div {
        span:nth-child(1){
            float:left;
        }

        span:nth-child(2){
            float:right;

        }
    }

    div:nth-child(1){
        span{
            color: @white;
        }
        span:nth-child(2){
            background-color: @red;
            padding: 0px 5px;
            line-height: 20px;
        }
    }

    div:nth-child(2){
        border-top: 1px solid #4a4a4d;
        margin-top: 5px;
        padding-top: 4px;

        span{
            
            color: #d1d1d6;
        }

        span:nth-child(1){
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}

.info {

    padding: 6px 8px;
    font-size: 12px;
    background: rgba(255,255,255,0.9);
    border: 1px solid #d0d0d5;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    min-height: 60px;

}
.info.data{
    margin-right: 103px !important;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
