#tool_data{
    overflow-y: scroll;
    padding-bottom: 20px;
    margin-top:10px;
    background-color: @white;
    .toolBoxshadow();

    position: relative;

    .header{
        line-height: 53px;
        height: 53px;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        
        .close{
            background: url("@{imgPath}ELC_icon_descartar_herramienta.svg") no-repeat left top;
            width: 30px;
            height: 25px;
            margin: 13px 20px 0 0;
            float:right;
        }



        #tool_name,#tool_title,#tool_year{
            float:left;
        }

        #tool_name{
            height:100%;
            border-left:1px solid @white;
            padding-left: 10px;
            .roboto_cond(bold);
            font-size: 14px;
            color:@grey_dark;
            text-transform: uppercase;
        }

        #tool_title{
            .roboto();
            font-size: 18px;
            color:@red;
            margin-left: 10px;
        }

        #tool_year{
            .roboto(bold);
            font-size: 13px;
            color:@white;
            background-color: @red;
            border:1px solid @white;
            line-height: 20px;
            margin: 16px 0 0 10px;
            padding: 0 5px;

        }
    }

    .header[data-variable='iepg']{
        background: url("@{imgPath}variables/ELC_variable_iepg_cab.svg") no-repeat @variable_iepg left 5px center;
        padding-left: 58px;
    }

     .body{
        overflow-y : auto;
        position: absolute;
        top: 53px;
        bottom: 0;
        width: 100%;
    }
}

#country_tool {

    .co_ranking{
        text-align: right;
    }

    .sep{
        height:1px;
        background-color: @grey_light;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .chart{
        height : 200px;
        path {
            stroke: #fff;
            fill-rule: evenodd;
        }

        path:hover {
          fill: @grey_dark !important;
          cursor: pointer;
        }
    }   

    .legend{
        float: right;
        background-color: #fff;
        
        li{
            font-size: 11px;
            color: @grey;  
            margin-left: 18px;  
            padding-left: 10px;
        }

        li::before{ 
            content: "";
            float: left;
            height: 12px;
            width: 12px;
            margin-right: 5px;
            margin-top: 5px;
        }

        li:nth-child(1){
            .roboto(bold);
            margin-left: 0px;  
        }

        li:nth-child(1)::before{ 
            background-color: @variable_iepg;
        }

        li:nth-child(2)::before{ 
            background-color: @variable_eco;
        }

        li:nth-child(3)::before{ 
            background-color: @variable_militar;
        }

        li:nth-child(4)::before{ 
            background-color: @variable_soft;
        }

    }
    
    .flag{
        height: 25px;
        width: 25px;
        float:left;
        margin-top: 5px;
    }
}
