
.variable_selector{

    .body{
        top: 112px;
    }

    .wheel{
        position: relative;
        margin: auto;
        margin-top: 18px;
        

        .l0,.l1,.l2{
            position: absolute;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            border: 1px solid #bdbdc4;
            border-radius: 100%;
            pointer-events:none;

            > div {
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                margin: auto;
                bottom: 0;
                width: 100%;
                
                div.img{
                    display: block;
                    height:40px;
                    width: 40px;
                    /* Same as Fancybox*/
                    /*background-color: rgb(249, 249, 249) !important;*/
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -18px;
                    margin: auto;
                    pointer-events:all;
                    cursor: pointer;
                }
                /*.origin(bottom,left);*/
            }
        }

        .l0{
            div.img{
                position: absolute;
                margin: auto;
                left: 0 !important;
                right: 0;
            }
            .iepg{
                div.img{  
                    background: url("@{imgPath}variables/ELC_variable_iepg_off.svg") no-repeat right center;
                    &:hover,&[selected],&[selected]{
                        background-image: url("@{imgPath}variables/ELC_variable_iepg.svg");
                    }  
                }
            }
        }

        .l1{
            position: absolute;
            /*background: url("@{imgPath}variables/ELC_variable_iepg.svg") no-repeat center center;*/
            height: 50%;
            width: 50%;

            @eco : 155deg;
            @militar : 238deg;
            @soft : 0deg;

            .eco{
                .rotate(@eco);
                div.img{
                    .rotateback(@eco);
                    background: url("@{imgPath}variables/ELC_variable_e_presencia_economica_off.svg") no-repeat right center;
                    &:hover,&[selected],&[selected]{
                        background-image: url("@{imgPath}variables/ELC_variable_e_presencia_economica.svg");
                    }  
                }
            }

            .militar{
                .rotate(@militar);
                div.img{
                    .rotateback(@militar);
                    background: url("@{imgPath}variables/ELC_variable_m_presencia_militar_off.svg") no-repeat right center;
                    &:hover,&[selected],&[selected]{
                        background-image: url("@{imgPath}variables/ELC_variable_m_presencia_militar.svg");
                    }  
                }                
            }

            .soft{
                .rotate(@soft);
                div.img{
                    .rotateback(@soft);
                    background: url("@{imgPath}variables/ELC_variable_b_presencia_blanda_off.svg") no-repeat right center;
                    &:hover,&[selected],&[selected]{
                        background-image: url("@{imgPath}variables/ELC_variable_b_presencia_blanda.svg");
                    }  
                }
            }
        }
    }

    .l2{
        @deg: (360 / 16deg);
        position: absolute;
        height: 100%;
        width: 100%;

        @information : @deg * 0;
        @technology : @deg * 1;
        @science: @deg * 2;
        @education: @deg * 3;
        @cooperation : @deg * 4;
        @energy : @deg * 5;
        @primary_goods: @deg * 6;
        @manufactures : @deg * 7;
        @services : @deg * 8;
        @investments : @deg * 9;
        @troops : @deg * 10;
        @military_equipment : @deg * 11;
        @migrations : @deg * 12;
        @tourism: @deg * 13;
        @sports : @deg * 14;
        @culture : @deg * 15;
        

        .bloq_sep(@rotate:-12deg,@margin-top:8%,@margin-left: -4.6%){
                display: block;
                width: 25%;
                height: 50%;
                margin-top: @margin-top;
                .rotate(@rotate);
                margin-left: @margin-left;
                border-bottom: 1px solid #b4b4bc;
                pointer-events:none;
                background: none;
        }

        .information{
            .rotate( @information);
            div.img{

                .rotateback(@information);
                background: url("@{imgPath}variables/ELC_variable_b_informacion_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_informacion.svg");
                } 
            }   
        }

        .technology{
            .rotate( @technology);
            div.img{

                .rotateback(@technology);
                background: url("@{imgPath}variables/ELC_variable_b_tecnologia_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_tecnologia.svg");
                } 
            }   
        }

        .science{
            .rotate( @science);
            div.img{

                .rotateback(@science);
                background: url("@{imgPath}variables/ELC_variable_b_ciencia_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_ciencia.svg");
                } 
            }   
        }

        .education{
            .rotate( @education);
            div.img{

                .rotateback(@education);
                background: url("@{imgPath}variables/ELC_variable_b_educacion_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_educacion.svg");
                } 
            }   
        }

        .cooperation{
            .rotate( @cooperation);
            div.img{

                .rotateback(@cooperation);
                background: url("@{imgPath}variables/ELC_variable_b_cooperacion_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_cooperacion.svg");
                } 
            }   
        }

        .energy{
            .rotate( @energy);
            div.img{

                .rotateback(@energy);
                background: url("@{imgPath}variables/ELC_variable_e_energia_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_e_energia.svg");
                } 
            }   
            div.sep{
                .bloq_sep(-12deg,8%,-4.6%);

            }
        }
    
        .primary_goods{
            .rotate( @primary_goods);
            div.img{
                .rotateback(@primary_goods);
                background: url("@{imgPath}variables/ELC_variable_e_bienesprimarios_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_e_bienesprimarios.svg");
                } 
            }   
        }

        .manufactures{
            .rotate( @manufactures);
            div.img{
                .rotateback(@manufactures);
                background: url("@{imgPath}variables/ELC_variable_e_manufacturas_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_e_manufacturas.svg");
                } 
            }   
        }

        .services{
            .rotate( @services);
            div.img{
                .rotateback(@services);
                background: url("@{imgPath}variables/ELC_variable_e_servicios_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_e_servicios.svg");
                } 
            }   
        }

        .investments{
            .rotate( @investments);
            div.img{
                .rotateback(@investments);
                background: url("@{imgPath}variables/ELC_variable_e_inversiones_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_e_inversiones.svg");
                } 
            }   
        }

        .troops{
            .rotate( @troops);
            div.img{
                .rotateback(@troops);
                background: url("@{imgPath}variables/ELC_variable_m_tropas_off.svg") no-repeat right center;
                cursor: pointer;

                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_m_tropas.svg");
                } 
            }  

            div.sep{
                .bloq_sep(-12deg,7%,-4.6%);
            }

        }

        .military_equipment{
            .rotate( @military_equipment);
            div.img{
                .rotateback(@military_equipment);
                background: url("@{imgPath}variables/ELC_variable_m_equipamiento_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_m_equipamiento.svg");
                } 
            }  

            div.sep{
               .bloq_sep(9deg,-7.2%,4.3%); 
            } 
        }

        .migrations{
            .rotate( @migrations);
            div.img{
                .rotateback(@migrations);
                background: url("@{imgPath}variables/ELC_variable_b_migraciones_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_migraciones.svg");
                } 
            }   
        }

        .tourism{
            .rotate( @tourism);
            div.img{
                .rotateback(@tourism);
                background: url("@{imgPath}variables/ELC_variable_b_turismo_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_turismo.svg");
                } 

            }   
        }

        .sports{
            .rotate( @sports);
            div.img{
                .rotateback(@sports);
                background: url("@{imgPath}variables/ELC_variable_b_deportes_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_deportes.svg");
                } 
            }   
        }

        .culture{
            .rotate( @culture);
            div.img{
                .rotateback(@culture);
                background: url("@{imgPath}variables/ELC_variable_b_cultura_off.svg") no-repeat right center;
                &:hover,&[selected]{
                    background-image: url("@{imgPath}variables/ELC_variable_b_cultura.svg");
                } 
            }   
        }

    }

    .co_wheel{
        overflow: hidden;
        margin:auto;
    }

    @media all and (max-height: 768px){
        .co_wheel{
            width: 340px;
            height: 340px;
            .wheel{
                width: 300px;
                height: 300px;
            }
        }
    }
 
    @media all and (min-height: 850px) and (max-height: 1024px){
        .co_wheel{
            width: 390px;
            height: 390px;
            .wheel{
                width: 350px;
                height: 350px;
            }
        }
    }
 
    @media all and (min-height: 1024){
         .co_wheel{
            width: 440px;
            height: 440px;
            .wheel{
                width: 400px;
                height: 400px;
            }
        }
    }

    .desc{
        display: none;
        font-size: 13px;
        color:@grey;
    }
 
    
}