.DS_Store
.settings
.project
.pydevproject
*.komodoproject
venv
*.pyc
*.sublime-*
00-config.sql
www/src/backend/js/config.js
www/src/frontend/js/config.js
www/src/explora/js/config.js
*.log
config.env
node_modules
