[submodule "pythonhelpers2"]
	path = www-srv/src/pythonhelpers
	url = https://github.com/GeographicaGS/pythonhelpers.git
[submodule "flux2"]
	path = www-srv/src/flux_lib
	url = https://github.com/GeographicaGS/Flux.git
