[submodule "pythonhelpers2"]
	path = www-srv/src/pythonhelpers
	url = https://github.com/GeographicaGS/pythonhelpers.git
[submodule "Flux"]
	path = www-srv/src/flux_lib/Flux
	url = https://github.com/GeographicaGS/Flux.git
