body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #515155;
}

.form-signin {
  max-width: 330px;
  padding: 0;
  margin: 0 auto;
  background:#ececee;
}
.form-signin .form-signin-heading{
	background:url(../img/Logotipo_iepg_backend.png) no-repeat left top #d60006;
	height:121px;
	width:100%
	}
.formularioAcces{ padding:15px;}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.formularioAcces .input-group{ margin-bottom:18px;}
.formularioAcces .input-group-addon:first-child{ background:#28282b; color:#d6d6d6; border-color:#28282b; height:43px;}

.AccessBTN{ background:#28282b; color:#fff;}