/*

  Configuration parameters.

*/
\set user iepg_countries_a
\set pass iepg
\set superuser postgres
\set dbname iepg_countries
\set src_root /home/git/elcano-iepg/database/iepg-data-calculation-engine/
\set copy_master_country :src_root'master_country.csv'
\set copy_country_relation :src_root'country_relation.csv'
\set copy_iepg_final_data :src_root'iepg_final_data.csv'
\set postgis :src_root'lib/postgis.sql'
\set spatial_ref_sys :src_root'lib/spatial_ref_sys.sql'
