/**
* Here render styles. We should place here styles of classes that will be added via JS in the render process.
**/

.clabels{
    display:inline-block;
}

.hide{
    display: none;
}

.alpha{ padding-left: 0px !important;margin-left: 0px !important}
.omega{ padding-right: 0px !important;margin-right: 0px !important}
.clear{ clear:both;}

input[data-error],textarea[data-error]{
	background-color:#f5bfc1;
}

#form_error{
	color: #d60006;
    font-size: 13px;
    margin-left: 0px;
    margin-top: 14px;
    background-color: #f5bfc1;
    padding: 0 10px;
    padding: 2px 8px;
}

progress#progress_es,progress#progress_en{
	display: none;
}

.uploadForm progress{
    float:left;
}

.uploadForm .notification{
    float:right;
    font-size: 11px;
    color: #d60006;
}

.uploadForm input[type='file']{
    
    float:left;
}

.uploadForm input#file_en{
    margin-left: -10000px;
}

.uploadForm input#file_es{
    margin-left: -20000px;
}

.uploadForm button{
    float:left;
}

label.error_form{
    font-size: 11px;
    color: #d60006;
    font-weight: normal;
}