<div class="pull-left">
    <h1 class="page-header col-md-1"><lang>Destacado</lang></h1>
    <button type="button" class="btn btn-l activeES ESbt" style="cursor: text"><lang>Español</lang></button> 
    <button type="button" class="btn btn-l activeEN ENbt"  style="cursor: text"><lang>English</lang></button>
</div>

<div class="pull-right pr15">
    <!-- <a href="#back" type="button" class="btn btn-l btnlink "><lang>Cancelar</lang></a> -->
    <a href="/<lang>lang</lang>/highlights/edit/<%= model.id%>" class="btn btn-l btn-edit">Editar</a>
    <a href="#" type="button" class="btn btn-l btn-remove" id="delete"><lang>Eliminar</lang></a>
    <span class="verticalDivider"></span>
    <% if (!model.published) {%>
        <a href="#" type="button" class="btn btn-l btn-public publish_ctrl"><lang>Publicar</lang></a>
        <a href="#" type="button" class="btn btn-l btn-public unpublish_ctrl" style="display:none"><lang>Despublicar</lang></a>
    <% } else { %>
        <a href="#" type="button" class="btn btn-l btn-public publish_ctrl" style="display:none"><lang>Publicar</lang></a>
        <a href="#" type="button" class="btn btn-l btn-public unpublish_ctrl" ><lang>Despublicar</lang></a>
    <% } %>
</div>
    
<hr class="featurette-divider">

<div class="DestacadosForm">        
    <div class="form-group">
        <div class=" col-md-2 LabelForm"><label for=""><lang>Epígrafe</lang></label></div>
        <div class="col-md-10">
            <div class="esresult"><span class="clean pull-left">es</span><p><%= model.title_es %></p></div>
            <hr class="featurette-divider">
            <div class="enresult"><span class="clean pull-left">en</span><p><%= model.title_en %></p></div>
        </div>
    </div>
            
    <div class="form-group">
        <div class=" col-md-2 LabelForm"><label for=""><lang>Título</lang></label></div>
        <div class="col-md-10">
            <div class="esresult"><span class="clean pull-left">es</span><p><%= model.text_es %></p></div>
            <hr class="featurette-divider">
            <div class="enresult"><span class="clean pull-left">en</span><p><%= model.text_en %></p></div>
        </div>
    </div>

    <% if (model.credit_img_es || model.credit_img_en) { %>
        <div class="form-group">
            <div class=" col-md-2 LabelForm"><label for=""><lang>Créditos</lang></label></div>
            <div class="col-md-10">
                <% if (model.credit_img_es) { %>
                    <div class="esresult">
                        <span class="clean pull-left">es</span>
                        <p><%= model.credit_img_es %></p>
                    </div>
                    <hr class="featurette-divider">
                <% } %>
                <% if (model.credit_img_en) { %>
                <div class="enresult">
                    <span class="clean pull-left">en</span>
                    <p><%= model.credit_img_en %></p>
                </div>
                <% } %>
            </div>
        </div>
    <% } %>

    <div class="form-group">
        <div class=" col-md-2 LabelForm"><label for="">Imagen</label></div>
        
        <div class="col-md-10">
            <div class="esresult">
                <span class="clean pull-left">es</span>
                <div>
                    <img src="/img/iconos/img_ICO.png" />
                    <a href="/media/<%= model.image_hash_es %>" class="ml5 simple_link"  
                        target="_blank">
                        <%= model.image_name_es %>
                    </a>
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="enresult">
                <span class="clean pull-left">en</span>
                <div>
                    <img src="/img/iconos/img_ICO.png" />
                    <a href="/media/<%= model.image_hash_en %>" class="ml5 simple_link"  
                        target="_blank">
                        <%= model.image_name_en %>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <% if (model.link_es || model.link_en) { %>
    <div class="form-group">
        <div class=" col-md-2 LabelForm"><label for="">Enlace</label></div>
        
        <div class="col-md-10">
            <% if (model.link_es) { %>
            <div class="esresult">
                <span class="clean pull-left">es</span>
                <div>
                    <img src="/img/iconos/linkIco.png" />
                    <a href="<%= model.link_es %>" class="ml5 simple_link"  
                        target="_blank">
                        <lang>Abrir enlace en una nueva pestaña</lang>
                    </a>
                </div>
            </div>
            <hr class="featurette-divider">
            <% } %>
            <% if (model.link_en) { %>
            <div class="enresult">
                <span class="clean pull-left">en</span>
                <div>
                    <img src="/img/iconos/linkIco.png" />
                    <a href="<%= model.link_en %>" class="ml5 simple_link"  
                        target="_blank">
                        <lang>Abrir enlace en una nueva pestaña</lang>
                    </a>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <% }  %>

    <div class="pull-left pl15 col-md-12 btn_botton">
         <div class="col-md-2 pl15">
            <a href="/<lang>lang</lang>/highlights/edit/<%= model.id%>" class="btn btn-l btn-edit"><lang>Editar</lang></a>
        </div>
        <div class="pull-right pr15">
            <!-- <a href="#back" type="button" class="btn btn-l btnlink "><lang>Cancelar</lang></a> -->
            <a href="#" type="button" class="btn btn-l btn-remove" id="delete"><lang>Eliminar</lang></a>
            <span class="verticalDivider"></span>
            <% if (!model.published) {%>
                <a href="#" type="button" class="btn btn-l btn-public publish_ctrl"><lang>Publicar</lang></a>
                <a href="#" type="button" class="btn btn-l btn-public unpublish_ctrl" style="display:none"><lang>Despublicar</lang></a>
            <% } else { %>
                <a href="#" type="button" class="btn btn-l btn-public publish_ctrl" style="display:none"><lang>Publicar</lang></a>
                <a href="#" type="button" class="btn btn-l btn-public unpublish_ctrl" ><lang>Despublicar</lang></a>
            <% } %>
        </div>
    </div>
</div>