<progress class="upload"/>

<input type="file" name="file"  style="position:fixed;left: -900px"/>

<% if (model["image_hash_" + lang]) { %>
    <div>
        <img src="/img/iconos/img_ICO.png" />
        <a href="<%= imageFolder%>/<%= model["image_hash_" + lang] %>" class="ml5 simple_link"  target="_blank">
            <%= model["image_name_" + lang] %>
        </a>
        <a href="#" class="btn btnDeleteAjunto pull-right" title="<lang>Eliminar Imagen</lang>"></a>
    </div>
<% } else { %>
    <button type="button" class="btn btnImg upload" name="image_hash_<%=lang%>">
        Subir una imagen JPG (<%= lang == "es" ? "español" : "inglés" %>)
    </button>
<% } %>

<div id="upload_notification_<%= lang %>" class="notification"></div>