<p><%= name %></p>
<p><%= surname %></p>
<p><%= username %></p>
<p><%= email %></p>

<a href="logout">Logout</a>

<h1 class="page-header col-md-1">Portada</h1>
<a href="dashboard_02.html" type="button" class="btn btn-l">Nuevo destacado</a>
<button type="button" class="btn btn-l navbar-right searchBT"></button>
<!--<form class="navbar-form pull-right"> 
<input type="text" class="searchForm col-md-10" placeholder="buscar destacado">
<button type="button" class="btn btn-l col-md-1">Buscar</button>
</form>-->

<hr class="featurette-divider">
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th><span class="ESTag">ES</span> <span class="ENTag">EN</span></th>
                <th>Epígrafe</th>
                <th>título</th>
                <th class="thRight">ultima edición</th>
                <th></th>
                <th class="thRight">orden</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="ESTag">ES</span> <span class="ENTag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span> <span class="PublicList"><img src="img/iconos/publicICO.png" alt="Publicado"></span></td>
                <td class="orden greyTable thRight">2/4</td>
            </tr>
            <tr>
                <td><span class="ESTag">ES</span> <span class="ENTag inactivetag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span> <span class="PublicList"><img src="img/iconos/publicICO.png" alt="Publicado"></span></td>
                <td class="orden greyTable thRight">2/4</td>
            </tr>
            <tr>
                <td><span class="ESTag inactivetag">ES</span> <span class="ENTag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span> <span class="PublicList"><img src="img/iconos/publicICO.png" alt="Publicado"></span></td>
                <td class="orden greyTable thRight">2/4</td>
            </tr>
            <tr>
                <td><span class="ESTag inactivetag">ES</span> <span class="ENTag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
               <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span> <span class="PublicList"><img src="img/iconos/publicICO.png" alt="Publicado"></span></td>
                <td class="orden greyTable thRight">2/4</td>
            </tr>
            <tr>
                <td><span class="ESTag">ES</span> <span class="ENTag inactivetag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span> <span class="PublicList"><img src="img/iconos/publicICO.png" alt="Publicado"></span></td>
                <td class="orden greyTable thRight">2/4</td>
            </tr>
        </tbody>
    </table>

    <h2 class="inactiveDes">Destacados inactivos</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th><span class="ESTag inactivetag">ES</span> <span class="ENTag">EN</span></th>
                <th>Epígrafe</th>
                <th>título</th>
                <th class="thRight">ultima edición</th>
                <th></th>
                <th class="thRight">Orden</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="ESTag inactivetag">ES</span> <span class="ENTag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span>  <span class="PublicList publicdesac"><img src="img/iconos/publicICO.png" alt="Publicado"></td>
                <td class="orden greyTable thRight">&nbsp;</td>
            </tr>
            <tr>
                <td><span class="ESTag">ES</span> <span class="ENTag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span>  <span class="PublicList publicdesac"><img src="img/iconos/publicICO.png" alt="Publicado"></td>
                <td class="orden greyTable thRight">&nbsp;</td>
            </tr>
            <tr>
                <td><span class="ESTag">ES</span> <span class="ENTag inactivetag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span>  <span class="PublicList publicdesac"><img src="img/iconos/publicICO.png" alt="Publicado"></td>
                <td class="orden greyTable thRight">&nbsp;</td>
            </tr>
            <tr>
                <td><span class="ESTag">ES</span> <span class="ENTag inactivetag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
               <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span>  <span class="PublicList publicdesac"><img src="img/iconos/publicICO.png" alt="Publicado"></td>
                <td class="orden greyTable thRight">&nbsp;</td>
            </tr>
            <tr>
                <td><span class="ESTag">ES</span> <span class="ENTag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span>  <span class="PublicList publicdesac"><img src="img/iconos/publicICO.png" alt="Publicado"></td>
                <td class="orden greyTable thRight">&nbsp;</td>
            </tr>
            <tr>
                <td><span class="ESTag inactivetag">ES</span> <span class="ENTag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span>  <span class="PublicList publicdesac"><img src="img/iconos/publicICO.png" alt="Publicado"></td>
                <td class="orden greyTable thRight">&nbsp;</td>
            </tr>
            <tr>
                <td><span class="ESTag">ES</span> <span class="ENTag inactivetag">EN</span></td>
                <td><a href="dashboard_03.html">Claves IEPG 2012</a></td>
                <td><a href="dashboard_03.html">Transitando hacia el Sur y hacia el Este</a></td>
                <td class="lastEdition greyTable thRight">2014/01/19 – 10:24</td>
                <td><span class="linkList"><img src="img/iconos/linkIco.png" alt="enlazado"></span>  <span class="PublicList publicdesac"><img src="img/iconos/publicICO.png" alt="Publicado"></td>
                <td class="orden greyTable thRight"></td>
            </tr>
            
        </tbody>
    </table>
    <div class="Footertable"><strong>1 – 8</strong> de 8 destacados</div>
    <div class="pull-left pl15 col-md-12 btn_botton">
         <div class="col-md-2 pl15">
            <button type="button" class="btn btn-l btn-edit">Más destacados</button>
        </div>
    </div>
    
</div>
            
