<ul class='table'>
  <li class='superth'>
    <ul>
      <li class='left' >
        <div class="variableIcon" data-variable="iepg"></div>
        <%= app.formatNumber(data.root_left.size)%>
        <% if (iepgvsiepe) {%>
          <span class='iepgvsiepe'><lang>Presencia global</lang></span>
        <% } %> 
      </li>
      <li class='vartitle' title="<lang>Valor índice</lang>"><lang>Valor índice</lang></li>
      <li class='right'>
        <div class="variableIcon" data-variable="<%= iepgvsiepe ? "iepe" : "iepg" %>">
        </div>
        <% if (iepgvsiepe) {%>
          <span class='iepgvsiepe'><lang>Presencia europea</lang></span>
        <% } %> 
        <%= data.root_right ? app.formatNumber(data.root_right.size) : '--' %>
      </li>
    </ul>
  </li>
  <li class='th'>
    <ul>
      <% if (iepgvsiepe) {%>
      <li class='left' title="<lang>Valor índice</lang>"><lang>Valor índice</lang></li>
      <% } %>
      <li class='left' title="<lang>Contribución de presencia</lang>"><lang>Contribución de presencia</lang></li>
      <li class='vartitle' title="<lang>Variable</lang>"><lang>Variable</lang></li>
      <li class='right' title="<lang>Contribución de presencia</lang>"><lang>Contribución de presencia</lang></li>
      <% if (iepgvsiepe) {%>
      <li class='right' title="<lang>Valor índice</lang>"><lang>Valor índice</lang></li>
      <% } %>
      </ul>
  </li>

  <%
    gotop = data.left.parent ? "data-top='" + data.left.parent.name + "'" : "";
  %>

  <li class='th2' data-variable="<%= data.left.name == "global" ? family : data.left.name %>"  <%= gotop %>>
    <ul>
      <% if (iepgvsiepe) {%>
      <li class='left' title="<lang>Valor índice</lang>"> 
        <%= app.formatNumber(data.left.size) %>
      </li>
      <% } %>
      <li class='left italic' title="<lang>Contribuciones de presencia</lang>">
        <%= data.left.perc ? app.formatNumber(data.left.perc) + ' %' : '--' %>
      </li>
      <li class='vartitle' >
        <%= iepgvsiepe && data.left.name=='global' ? '<lang>Presencia global / europea</lang>'
            : app.variableToString(data.left.name,family,true) %>
      </li>
      <li class='right italic' title="<lang>Contribuciones de presencia</lang>">
        <%= data.right && data.right.perc ? app.formatNumber(data.right.perc) + ' %' : '--' %>
      </li>
      <% if (iepgvsiepe) {%>
      <li class='right' title="<lang>Valor índice</lang>">
        <%=  data.right ? app.formatNumber(data.right.size) : '--' %>
      </li>
      <% } %>
    </ul>
  </li>
  
  <% 
  childs_left = _.sortBy(data.left.children, function(d){ return d.ord });
  childs_right = data.right ? _.sortBy(data.right.children, function(d){ return d.ord }): null;
  _.each(childs_left, function(d,i){
      var color = d.depth == 1 ? d.color : d.parent.color;
     %>
    <li class='childs' 
      data-section="<%= iepgvsiepe && d.name=='military_global' ? '' : 
          (d.depth==1 ? d.name : '') %>">
      <ul>
        <% if (iepgvsiepe) {%>
        <li class='left' title="<lang>Valor índice</lang>">
          <%= app.formatNumber(d.size) %>
        </li>
        <% } %>
        <li class='left italic'><%= app.formatNumber(d.perc) %> %</li>
        <li class='vartitle' style="color: <%=color%>">
          <%= app.variableToString(d.name,family) %>
        </li>
        <li class='right italic'>
          <%= childs_right && childs_right[i].perc ? app.formatNumber(childs_right[i].perc) + ' %' : '--' %></li>
         <% if (iepgvsiepe) {%>
        <li class='right' title="<lang>Valor índice</lang>">
          <%= childs_right ? app.formatNumber(childs_right[i].size) : '--' %>
        </li>
        <% } %>
      </ul>
    </li>
  <% }); %>
  
</ul>