<%
    filters = app.getFilters();
%>
<ul class="country_bar">
    <%_.each(ctx.countries.list,function(c){ 
        
        if (filters.length && filters.indexOf(c) == -1 )
            return;

        sel = ctx.countries.selection.indexOf(c) != -1 ? "selected" : "";
        %>
        <li class="country_draggable">
            <a href="#" title="<%= c %>" code="<%= c %>"  <%= sel %>>
                <img src="/img/flags/<%= c%>.svg"/>
            </a>
        </li>
    <% }); %>
</ul>

<a id="ctrl_countries" href="#"></a>

<a id="ctrl_variables" href="#" <%= variableCtrl ? "" : "disabled" %> title="<lang>Variables</lang>">
</a>


