<%
    variable = model ? model.iepg_variables[ctx.variables[0]] : null;
    gdp = model ? model.context_var.gdp : null;
    population = model ? model.context_var.population : null;
    country = ctx.countries.selection.length ? ctx.countries.selection[0] : null;
    country_str = country ? app.countryToString(country) :  "<lang>Seleccione un país</lang>";
    year = ctx.slider[0].date.getFullYear();

%>

<div id="country_tool" >
    <div class="header" data-variable=<%=ctx.family%>>
        <a class="close" href="#"></a>
        <span id="tool_name"><lang>Ficha país</lang></span>
        <span id="tool_year"><lang>Año</lang> <%= year %></span>

        <select id="ctrl_family">
            <option value="iepg" <%= ctx.family == "iepg" ? "selected" : "" %>><lang>Presencia Global</lang></option>
            <option value="iepe" <%= ctx.family == "iepe" ? "selected" : "" %> ><lang>Presencia Europea</lang></option>
        </select>
    </div>

    <% if (model) { %>
    <div class="body">
        <div class="container-fluid">
            <div class="row mth1">
                <div class="col-sm-6 col-md-6">
                    <div class="row ">
                        <div class="col-sm-3 col-md-3">
                            <span class="grey uppercase size_11"><%= app.variableToString(ctx.family) %></span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="co_flag">
                                <img src="/img/flags/<%= country %>.svg" class="flag" />
                            </div>
                            <span class="grey size_21 fleft mt7 ml"><%= sprintf("%0.2f",variable.value) %></span>
                        </div>
                        <div class="col-sm-5 col-md-5 co_ranking">
                            <span><%= sprintf("<lang>Puesto %dº</lang>", variable.ranking) %></span>
                            <img class="infoover" src="/img/ELC_icon_info_popover.svg" width="16px" height="16px" />
                            <p class="content_infoover" style="display:none">
                                <lang>Texto información puestos</lang>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sep"></div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-sm-3 col-md-3">
                            <span class="grey uppercase size_11"><lang>PIB</lang></span>
                            <span class="grey_light uppercase size_11">[US$]</span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="grey size_16"><%= parseInt(gdp.value).toLocaleString() %></span>
                        </div>
                        <div class="col-sm-5 col-md-5 co_ranking">
                            <span><%= sprintf("<lang>Puesto %dº</lang>", gdp.ranking) %></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sep"></div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-sm-3 col-md-3">
                            <span class="grey uppercase size_11"><lang>Población</lang></span>
                            <span class="grey_light uppercase size_11">[<lang>hab</lang>]</span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="grey size_16"><%= parseInt(population.value).toLocaleString() %></span>
                        </div>
                        <div class="col-sm-5 col-md-5 co_ranking">
                            <span><%= sprintf("<lang>Puesto %dº </lang>", population.ranking) %></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sep"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <span class="grey uppercase size_11"><lang>Resumen</lang></span>
                        </div>

                        <div class="col-xs-12">
                            <p class="size_16"><%= model.comment.comment %></p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 col-md-6">
                    
                   
                    <div class="chart"></div>
                    <div class="chart_legend">
                        
                    </div>
                </div>
            </div>
            
        </div>

    </div>

    <%} else { %>
        <div class="body">
            <div class="container-fluid">
                <div class="row mth1">
                    <p class="col-xs-12">
                        <lang>Seleccione un país</lang>
                    </p>
                <div>
            </div>
        </div>
    <% } %>


</div>