<div class="nodata">
    <h4>
        <lang>No hay datos disponibles con los parámetros seleccionados</lang>
    </h4>
    <h6><lang>Esto puede ser debido a:</lang><h6>
    <ol>
        <li><lang>Se ha seleccionado presencia europea y es un país no europeo o un bloque</lang>.</li>
        <li><lang>El bloque o país no existía en el año seleccionado</lang>.</li>
        <li><lang>No hay datos para la configuración seleccionada</lang>.</li>
        <li><lang>Si no es debido a ninguno de los puntos anteriores consulte la ayuda de la herramienta, pulsando la &apos;i&apos; de información de la esquina superior derecha</lang>.</li>
    </ol>
</div>