<div class="conteiner-fluid country_selector popup" >
        <div class="header">
            <div class="row">
                <h3 class="col-sm-6 col-md-6">
                    <lang>Países del Índice Elcano</lang>
                </h3>

                <div class="col-sm-6  col-md-6">
                   
                    <a href="#" id="save" class="button check"><lang>Hecho</lang></a>
                    <a href="#" id="cancel" class="grey_light">Cancelar</a>
                </div>
            </div>
            <div class="row">
                 <div class="col-xs-12" id="n_selected">
                  
                </div>
            </div>
        </div>

        <div id="countries_plain" class="body">
            <%
  

            var n_interval = app.isSMDevice() ? 2 : 3,
             interval = parseInt(Math.ceil(collection.length / n_interval));
                        
            for (var i=0;i<n_interval;i++){
               
            %>
            <ul class="flag_wrapper col-md-4 col-sm-6">
                <% _.each(collection.slice(interval*i,interval*(i+1)),function (d){
                    sel = ctx.countries.list.indexOf(d.id) != -1 ? "selected" : "";
                 %>
                    <li code="<%=d.id %>" <%= sel %> title="<%= d.name %>">
                        <img src="/img/flags/<%= d.id %>.svg" />
                        <span><%= d.name %></span>
                        <div class="clear"></div>
                    </li>
                <% }); %>
            </ul>
            <% } %>
           
            
        </div>
    </div>
</div>