<div id="help_welcome">
	<div class="container-fluid">
		<div class="row textblock separator">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<p class="big"><lang>_help welcome txt_1</lang></p>
				<p class="big"><strong><lang>_help welcome txt_2</lang></strong></p>
				<a class="help-btn_continue help-btn_grey" href="#" next-idx="1" elem="control_panel"><lang>Empezar con la ayuda guiada</lang><img src="/img/Ayuda/ELC_flecha_simple_boton.svg"></a>
			</div>
		</div>
		<div class="row textblock relative">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<a class="help-btn_close help-link" href="#"><lang>Comenzar a explorar</lang></a>
				<a class="help-checkbox f_right" href="#"><lang>No volver a mostrar la ayuda</lang></a>
			</div>
		</div>
	</div>
</div>
<div id="help_p1">
	<a class="help-btn_goback offset" href="#" prev-idx="0"><img src="/img/Ayuda/ELC_flecha_paso_ant.svg"></a>
	<div class="container">
		<div class="row textblock">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<h2><strong>1</strong>/6<strong> <lang>Las herramientas</lang></strong></h2>
				<h3><lang>_help p1 subtitle</lang></h3>
				<div class="dots"><span class="selected"></span><span></span><span></span><span></span><span></span><span></span></div>
				<p><lang>_help p1 txt</lang></p>
				<a class="help-btn_close help-link" href="#"><lang>Comenzar a explorar</lang></a>
			</div>
		</div>
	</div>
	<a class="help-btn_continue" href="#" next-idx="2" elem="ctrl_filter"><img src="/img/Ayuda/ELC_flecha_paso_sig.svg"></a>
</div>
<div id="help_p1">
	<a class="help-btn_goback" href="#" prev-idx="1" elem="control_panel"><img src="/img/Ayuda/ELC_flecha_paso_ant.svg"></a>
	<div class="container">
		<div class="row textblock">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<h2><strong>2</strong>/6<strong> <lang>Los filtros</lang></strong></h2>
				<h3><lang>_help p2 subtitle</lang></h3>
				<div class="dots"><span></span><span class="selected"></span><span></span><span></span><span></span><span></span></div>
				<p><lang>_help p2 txt</lang></p>
				<a class="help-btn_close help-link" href="#"><lang>Comenzar a explorar</lang></a>
			</div>
		</div>
	</div>
	<a class="help-btn_continue" href="#" next-idx="3" elem="country_panel"><img src="/img/Ayuda/ELC_flecha_paso_sig.svg"></a>
</div>
<div id="help_p2">
	<a class="help-btn_goback" href="#" prev-idx="2" elem="ctrl_filter"><img src="/img/Ayuda/ELC_flecha_paso_ant.svg"></a>
	<div class="container">
		<div class="row textblock">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<h2><strong>3</strong>/6<strong> <lang>Selector de países y variables</lang></strong></h2>
				<h3><lang>_help p3 subtitle</lang></h3>
				<div class="dots"><span></span><span></span><span class="selected"></span><span></span><span></span><span></span></div>
				<p><lang>_help p3 txt</lang></p>
				<a class="help-btn_close help-link" href="#"><lang>Comenzar a explorar</lang></a>
			</div>
		</div>
	</div>
	<a class="help-btn_continue" href="#" next-idx="4" elem="timeline"><img src="/img/Ayuda/ELC_flecha_paso_sig.svg"></a>
</div>
<div id="help_p3">
	<a class="help-btn_goback" href="#" prev-idx="3" elem="country_panel"><img src="/img/Ayuda/ELC_flecha_paso_ant.svg"></a>
	<div class="container">
		<div class="row textblock">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<h2><strong>4</strong>/6<strong> <lang>Línea de tiempo</lang></strong></h2>
				<h3><lang>_help p4 subtitle</lang></h3>
				<div class="dots"><span></span><span></span><span></span><span class="selected"></span><span></span><span></span></div>
				<p><lang>_help p4 txt</lang></p>
				<a class="help-btn_close help-link" href="#"><lang>Comenzar a explorar</lang></a>
			</div>
		</div>
	</div>
	<a class="help-btn_continue" href="#" next-idx="5" elem="ctrl_tool"><img src="/img/Ayuda/ELC_flecha_paso_sig.svg"></a>
</div>
<div id="help_p3">
	<a class="help-btn_goback" href="#" prev-idx="4" elem="timeline"><img src="/img/Ayuda/ELC_flecha_paso_ant.svg"></a>
	<div class="container">
		<div class="row textblock">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<h2><strong>5</strong>/6<strong> <lang>Mostrar mapa</lang></strong></h2>
				<h3><lang>_help p5 subtitle</lang></h3>
				<div class="dots"><span></span><span></span><span></span><span></span><span class="selected"></span><span></span></div>
				<p><lang>_help p5 txt</lang></p>
				<a class="help-btn_close help-link" href="#"><lang>Comenzar a explorar</lang></a>
			</div>
		</div>
	</div>
	<a class="help-btn_continue" href="#" next-idx="6" elem="help_btn"><img src="/img/Ayuda/ELC_flecha_paso_sig.svg"></a>
</div>
<div id="help_p4">
	<a class="help-btn_goback" href="#" prev-idx="5" elem="ctrl_tool"><img src="/img/Ayuda/ELC_flecha_paso_ant.svg"></a>
	<div class="container">
		<div class="row textblock">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<h2><strong>6</strong>/6<strong> <lang>Ayuda</lang></strong></h2>
				<h3><lang>_help p6 subtitle</lang></h3>
				<div class="dots"><span></span><span></span><span></span><span></span><span></span><span class="selected"></span></div>
			</div>
		</div>
		<div class="row textblock">
			<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<a class="help-btn_close help-btn_grey" href="#"><lang>Comenzar a explorar</lang><img src="/img/Ayuda/ELC_flecha_simple_boton.svg"></a>
				<a class="help-checkbox" href="#"><lang>No volver a mostrar al iniciar</lang> <strong><lang>Explora</lang></strong></a>
			</div>
		</div>
	</div>
</div>