<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title><lang>Índice Elcano de Presencia Global - Administración</lang></title>
    <link rel='stylesheet' href='/css/main.min.css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    <header>

        <a id="top_logo" href="#" title="Real Instituto Elcano Royal institute">
            <img src="/img/ELC_simbolo_cab.svg" alt="Real Instituto Elcano Royal institute">
        </a>
       
        <h2>
            <lang>Índice Elcano de Presencia Global</lang>
        </h2>
        <h1>
            <span><lang>Explora</lang> </span>
        </h1>
    </header>
    <main>
        <div id="base">

            <div id="control_area">
                <a id="ctrl_tool"  class="open" href="#"></a>

                <div id="control_panel">
                    <ul>
                        
                    </ul>
                    <div id="add_tool">
                        <a href="/<lang>lang</lang>/toolselector" jslink></a>
                        <span class="uppercase"><lang>tools</lang></span>
                    </div>
                </div>

            </div>

            <div id="tool">       
                <div id="country_panel"></div>
                <div id="tool_data"></div>
            </div>

        </div>

        <div id="map"></div>
        <div id="extra_panel" style="display:none"></div>

        <div id="popup" style="display:none"></div>

    </main>
    
    <footer>
        <div id="slider"></div>
    </footer>    
</body>
</html>

