<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta id="appViewport" name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title><lang>Índice Elcano de Presencia Global - Administración</lang></title>
    <link rel='stylesheet' href='/css/main.min.css'>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-52414901-2', 'auto');

        // Script for localhost test
        //ga('create', 'UA-52414901-2', {'cookieDomain': 'none'});
    </script>
    
    <header>
        <a id="top_logo" href="#" title="Real Instituto Elcano Royal institute">
            <img src="/img/ELC_simbolo_cab.svg" alt="Real Instituto Elcano Royal institute">
        </a>
        <nav>
            <div>
                <img src="/img/ELC_icon_menu_cab.svg">
                <ul>
                    <li><a href="#"><lang>Portada</lang></a></li>
                    <li class="quees">
                        <a href="#"><lang>Qué es</lang></a>
                        <ul>
                            <li><a href="#"><lang>Definición del proyecto</lang></a></li>
                            <li><a href="#"><lang>Estructura del IEPG</lang></a></li>
                            <li><a href="#"><lang>Metodología</lang></a></li>
                            <li><a href="#"><lang>Referencias externas</lang></a></li>
                            <li><a href="#"><lang>Informes Elcano</lang></a></li>
                        </ul>
                    </li>
                    <li class="explora"><a href="#"><lang>Explora</lang></a></li>
                    <li><a href="#"><lang>Noticias</lang></a></li>
                    <li><a href="#"><lang>Documentos y publicaciones</lang></a></li>
                </ul>
            </div>
            <div><a href="#"><img src="/img/ELC_icon_buscador_cab.svg"></a></div>
        </nav>
        <h2>
            <lang>Índice Elcano de Presencia Global</lang>
        </h2>
        <a id="help_btn" href="#">
            <span><lang>Ayuda</lang></span>
            <img src="/img/Ayuda/ELC_icon_ayuda_cab.svg">
        </a>
        <h1>
            <span><lang>Explora</lang> </span>
        </h1>
    </header>
    <main>
        <div id="base">

            <div id="control_area">
                <a id="ctrl_tool"  class="open" href="#"></a>

                <div id="control_panel">
                    <ul>
                        
                    </ul>
                    <div id="add_tool">
                        <a href="#" ></a>
                        <span class="uppercase"><lang>tools</lang></span>
                    </div>
                </div>

            </div>

            <a href="#" id="ctrl_filter" >
                <div class="co_img"></div>
                <div class="co_text"><span><lang>Filtros</lang></span></div>
            </a>

            <div id="country_panel"></div>  

            <div id="tool">
                <div id="tool_data"></div>
            </div>

        </div>

        <div id="map">
            <div id="map_tooltip" class="tooltip"></div>
            <div id="map_label">
                <span class="variable"></span>
                <span class="time"></span>
            </div>
            <div id="map_legend" ></div>
        </div>
        <div id="extra_panel" style="display:none"></div>

        <div id="popup" style="display:none"></div>

    </main>
    
    <footer id="timeline">
        <div id="slider"></div>
    </footer>    
</body>
</html>

