<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="appViewport" name="viewport" content="width=1024">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="shortcut icon" href="/img/favicon.png"> -->
  <!--   <link rel="shortcut icon" href="/img/favicon.ico?v2"> -->
    <title><lang>Índice Elcano de Presencia Global – Explora</lang></title>
    <link rel='stylesheet' href='/css/main.min.css'>

    <link href='http://fonts.googleapis.com/css?family=RobotoCondensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  </head>
<body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-52414901-2', 'auto');

        // Script for localhost test
        //ga('create', 'UA-52414901-2', {'cookieDomain': 'none'});
    </script>
    
    <header>
        <a id="top_logo" href="http://www.realinstitutoelcano.org/" title="Real Instituto Elcano Royal institute">
            <img src="/img/ELC_simbolo_cab.svg" alt="Real Instituto Elcano Royal institute">
        </a>
        <nav>
            <div>
                <div id="menu_btn"></div>
                <ul>
                    <li><a data-menu="home" href="/<lang>lang</lang>/home/<lang>lang</lang>/<lang>_link home</lang>" jslink><lang>Portada</lang></a></li>
                    <li class="quees">
                        <a href="#"><lang>Qué es</lang></a>
                        <ul>
                            <li><a data-menu="about" href="/<lang>lang</lang>/home/<lang>lang</lang>/<lang>_link about</lang>" jslink><lang>Definición del proyecto</lang></a></li>
                            <li><a data-submenu="infr" href="/<lang>lang</lang>/home/<lang>lang</lang>/<lang>_link about infr</lang>" jslink><lang>Estructura del IEPG</lang></a></li>
                            <li><a data-submenu="meth" href="/<lang>lang</lang>/home/<lang>lang</lang>/<lang>_link about meth</lang>" jslink><lang>Metodología</lang></a></li>
                        </ul>
                    </li>
                    <li class="explora">
                        <a href="#" jslink disabled><lang>Explora</lang></a>
                    </li>
                    <li><a data-menu="news" href="/<lang>lang</lang>/home/<lang>lang</lang>/<lang>_link news</lang>" jslink><lang>Noticias</lang></a></li>
                    <li><a data-menu="docs" href="/<lang>lang</lang>/home/<lang>lang</lang>/<lang>_link docs</lang>" jslink><lang>Documentos y publicaciones</lang></a></li>
                    <li><a data-menu="faq" href="/<lang>lang</lang>/home/<lang>lang</lang>/faq" ><lang>Preguntas frecuentes</lang></a></li>
                    <li><a data-menu="download" href="/<lang>lang</lang>/home/<lang>lang</lang>/<lang>_link download</lang>"><lang>Datos</lang></a></li>
                </ul>
            </div>
        </nav>
        <h2>
            <lang>Índice Elcano de Presencia Global</lang>
        </h2>
        <a id="help_btn" href="#">
            <span><lang>Ayuda</lang></span>
            <img src="/img/Ayuda/ELC_icon_ayuda_cab.svg">
        </a>
        <h1>
            <a href="#" id="alias_ctrl_tool"><span><lang>Explora</lang> </span></a>
            <a href="#" id="reset"><lang>Reiniciar</lang></a>
        </h1>
    </header>
    <main>
        <div id="base">

            <div id="control_area">
                <a id="ctrl_tool"  class="open" href="#"></a>

                <div id="control_panel">
                    <div class='co_list'>
                        <span class="titlecontrol"><lang>tools</lang></span>
                        <ul>
                            <li selected tool="country" title="<lang>Ficha país</lang>">
                                <a href="/<lang>lang</lang>/tool/country" jslink=""></a>
                            </li>
                            <li tool="contributions" title="<lang>Contribuciones de presencia</lang>">
                                <a href="/<lang>lang</lang>/tool/contributions" jslink=""></a>
                            </li>

                            <li tool="ranking" title="<lang>Ranking</lang>">
                                <a href="/<lang>lang</lang>/tool/ranking" jslink=""></a>
                            </li>
                            <li tool="quotes" title="<lang>Cuotas de presencia</lang>">
                                <a href="/<lang>lang</lang>/tool/quotes" jslink=""></a>
                            </li>
                            <li tool="comparison" title="<lang>Presencia global frente a presencia europea</lang>">
                                <a href="/<lang>lang</lang>/tool/comparison" jslink=""></a>
                            </li>
                        </ul>
                    </div>
                    <div id="add_tool" title="<lang>tools</lang>">
                        <a href="#" ></a>
                    </div>
                </div>

            </div>

            <a href="#" id="ctrl_filter" >
                <div class="co_img"></div>
                <div class="co_text"><span><lang>Filtros</lang></span></div>
            </a>

            <div id="country_panel"></div>  

            <div id="tool">
                <div id="tool_data"></div>
            </div>

            <div id="ctrl_map_zoom">
                <a id="map_zoom_in" href="#"></a>
                <a id="map_zoom_out" href="#"></a>
            </div>
            
        </div>

        <div id="map">
            <div id="map_tooltip" class="tooltip"></div>
            <div id="map_label">
                <span class="variable"></span>
                <span class="time"></span>
            </div>
            <div id="map_legend" ></div>
        </div>
        <div id="extra_panel" style="display:none"></div>

        <div id="popup" style="display:none"></div>

    </main>

    <div id="start_loading">
        <div class='co_loading'>
            <div class='loading'> 
                <img src='/img/ELC_icon_loading_white.gif' />  
                <span><lang>Loading</lang></span>
            </div> 
        </div>
    </div>

    
    <footer id="timeline">
        <div id="slider"></div>
    </footer>    
</body>
</html>

