<div id="quotes_tool">
	<div class="header" data-variable=<%= ctx.variables[0] == "global" ? ctx.family : ctx.variables[0] %>>
	    <a class="close" href="#"></a>
	    <span id="tool_name"><lang>Cuotas de presencia</lang></span>
	    <span id="tool_year"><lang>Año</lang> <%= ctx.slider[0].date.getFullYear()%></span>

	    <select id="ctrl_family">
	        <option value="iepg" <%= ctx.family == "iepg" ? "selected" : "" %>><lang>Presencia Global</lang></option>
	        <option value="iepe" <%= ctx.family == "iepe" ? "selected" : "" %> ><lang>Presencia Europea</lang></option>
	    </select>
	</div>

	<div class="body">
		 <a href="#" class="helpIcon" title="<lang>Ayuda tooltip</lang>">
            <img src="/img/ELC_icon_info_popover.svg" width="16px" height="16px" />
        </a>
		<% if (collection && collection.length > 0) { %>
			<div>
                <h5 style="color:<%=app.view.tools.utils.getVariablesColorsForText(ctx.variables[0],ctx.family)%>">
                	<%= app.variableToString(ctx.variables[0],ctx.family) %>
               	</h5>
            </div>
			<div class="co_chart">
		    	<div class="chart"></div>
		    </div>
	    <% } else if (collection.length == 0){ %>

	    	<div class="container-fluid">
                
                <div class="nodata">
				    <h4>
				        <lang>No hay datos disponibles con los parámetros seleccionados</lang>
				    </h4>
				    <h6><lang>Esto puede ser debido a:</lang><h6>
				    <ol>
				        <li><lang>Se ha seleccionado una variable para la que no hay datos para el año seleccionado</lang>.</li>
				        <li><lang>Si no es debido a ninguno de los puntos anteriores consulte la ayuda de la herramienta, pulsando la &apos;i&apos; de información de la esquina superior derecha</lang>.</li>
				    </ol>
				</div>
               
            </div>
	    <% } else { %>
            <div class="container-fluid">
                <div class="row mth1">
                    <h5 class="col-xs-12 red">
                        <lang>Añada al menos un país a la <i>cabereca de análisis</i></lang>.
                    </h5>
                <div>
            </div>
	    <% } %>
	</div>
</div>