<div id="quotes_tool">
	<div class="header" data-variable=<%= ctx.variables[0] == "global" ? ctx.family : ctx.variables[0] %>>
	    <a class="close" href="#"></a>
	    <span id="tool_name"><lang>Cuotas de presencia</lang></span>
	    <span id="tool_year"><lang>Año</lang> <%= ctx.slider[0].date.getFullYear()%></span>

	    <select id="ctrl_family">
	        <option value="iepg" <%= ctx.family == "iepg" ? "selected" : "" %>><lang>Presencia Global</lang></option>
	        <option value="iepe" <%= ctx.family == "iepe" ? "selected" : "" %> ><lang>Presencia Europea</lang></option>
	    </select>
	</div>

	<div class="body">
		<% if (collection) { %>
			<div>
                <h5 style="color:<%=app.view.tools.utils.getVariablesColorsForText(ctx.variables[0],ctx.family)%>">
                	<%= app.variableToString(ctx.variables[0],ctx.family) %>
               	</h5>
            </div>
			<div class="co_chart">
		    	<div class="chart"></div>
		    </div>
	    <% } else { %>
            <div class="container-fluid">
                <div class="row mth1">
                    <h5 class="col-xs-12 red">
                        <lang>Añada al menos un país a la <i>cabereca de análisis</i></lang>.
                    </h5>
                <div>
            </div>
	    <% } %>
	</div>
</div>