<div id="ranking_tool">

    <div class="header" data-variable=<%= ctx.variables[0] == "global" ? ctx.family : ctx.variables[0] %>>
        <a class="close" href="#"></a>
        <span id="tool_name"><lang>Ranking</lang></span>
  
        <span id="tool_year"><lang>Año</lang> <%= ctx.slider[0].date.getFullYear()%></span>
        <span id="tool_year_ref"><lang>Referencia</lang> <%= ctx.slider[1].date.getFullYear()%></span>

        <%= _.template($("#ctrl_family_template").html())({ctx : ctx}) %>
    </div>

    <div class="body">

        <% if (!drawerror) { %>
            <a href="#" class="helpIcon" title="<lang>Ayuda tooltip</lang>" style="left:50%">
                <img src="/img/ELC_icon_info_popover.svg" width="16px" height="16px" />
            </a>

            <div class="container-fluid" style="height:100%">
                <div class="row">
                    <div class="col-sm-6 " style="height:100%; margin-right:0;padding-right:0">

                        <div class="wrapper_chart">
                            <div class="chart_header">
                                <h5 style="color:<%=app.view.tools.utils.getVariablesColorsForText(ctx.variables[0],ctx.family)%>">
                                    <%= app.variableToString(ctx.variables[0],ctx.family) %>
                                </h5>
                               
                                <div class="ctrl_tool">
                                    <div class='co_ranking_type <%= ctx.family =="iepg" ? 'enable' : 'disabled'%>'>
                                        <span class='label'><lang>Ranking de</lang></span>
                                        <ul class="analyze " >
                                            <% for (var i=0;i<3;i++) { %>
                                            <li <%= ctx.block_analize == i ? "selected" : "" %> >
                                                <a href="#" block-analyze="<%= i %>">
                                                    <% 
                                                        if (ctx.block_analize == i ){
                                                            print("<lang>Ranking de</lang> </strong>");
                                                        }
                                                        if (i==0){ 
                                                            print("<lang>Países</lang>");
                                                        }
                                                        else if(i==1){
                                                            print("<lang>Países más UE</lang>");   
                                                        }
                                                        else{
                                                            print("<lang>Bloques</lang>");   
                                                        }
                                                    %>
                                                </a>
                                            </li>
                                            <% } %>
                                        </ul>

                                    </div>
                                    <div class='ctrl_ref'>
                                        <span class='label'><lang>Ver referencia</lang></span>
                                        <span class='toggler enable'></span>
                                    </div>
                                </div>
                            </div>
                            <div class="co_chart">
                                <a id="scroll_down" href="#"></a>
                                <a id="scroll_up" href="#"></a>
                                <div class="co_xaxis"></div>
                                <div class="chart"></div>
                                 <div id="ranking_chart_tooltip" class="tooltipnew" style="position:fixed"> </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 co_data_map" >
                        <div id="data_map">
                            <div id="map_legend" ></div>
                        </div>
                        <div id="ranking_map_tooltip" class="tooltip"></div>
                    </div>
                </div>
            </div>

        <% } else { %>

            <a href="#" class="helpIcon" title="<lang>Ayuda tooltip</lang>" >
                <img src="/img/ELC_icon_info_popover.svg" width="16px" height="16px" />
            </a>
            <div class="container-fluid">
                
                <div class="nodata">
                    <h4>
                        <lang>No hay datos disponibles con los parámetros seleccionados</lang>
                    </h4>
                    <h6><lang>Esto puede ser debido a:</lang><h6>
                    <ol>
                        <li><lang>Se ha seleccionado una variable para la que no hay datos para el año seleccionado</lang>.</li>
                        <li><lang>Si no es debido a ninguno de los puntos anteriores consulte la ayuda de la herramienta, pulsando la &apos;i&apos; de información de la esquina superior derecha</lang>.</li>
                    </ol>
                </div>
               
            </div>
        <% } %>
    </div>
</div>