<ul class="slider">
<%
var perc = (100 / (app.config.SLIDER.length -1));

for (var i=0; i<app.config.SLIDER.length;i++){
    var d = app.config.SLIDER[i],
        width = i == (app.config.SLIDER.length -1) ? 0 : perc;
    %>
   <li style="left:<%= i * perc %>%;width:<%=width%>%"  base> 
        <a href="#" class="point" year="<%= d.getUTCFullYear() %>"></a>
        <div class="ornament"  > <%= d.getUTCFullYear() %></div>
        <label><%= d.getUTCFullYear() %></label>
    </li>
<% } %>

<%
    var idx = 0;
    for (var i=0; i<app.config.SLIDER.length;i++){
        var d = app.config.SLIDER[i];
     
        idx = i;
        if (d.getUTCFullYear() == ctx.slider[0].date.getUTCFullYear())
            break;
        
    }

    //width = idx == (app.config.SLIDER.length -1) ? 0 : perc;
    width = perc;
    d = app.config.SLIDER[idx];
%>

     <li style="left:<%= idx * perc %>%;width:<%=width%>%" selected class="draggable"> 
        <div class="ornament" > <%= d.getUTCFullYear() %></div>
    </li>
</ul>




