<ul>
<%
console.log(ctx.slider[0].date.getFullYear());
var perc = (100 / (app.config.SLIDER.length -1));
for (var i=0; i<app.config.SLIDER.length;i++){
    var d = app.config.SLIDER[i],
        sel = d.getFullYear() == ctx.slider[0].date.getFullYear() ? "selected" : "";
        width = i == (app.config.SLIDER.length -1) ? 0 : perc;
    %>
   <li style="left:<%= i * perc %>%;width:<%=width%>%" <%= sel %>> 
        <a href="#" class="point" year="<%= d.getFullYear() %>"></a>
        <div class="ornament"  > <%= d.getFullYear() %></div>
        <label><%= d.getFullYear() %></label>
    </li>
<% } %>

</ul>

