<ul class="slider">
<%
var perc = (100 / (app.config.SLIDER.length -1));

for (var i=0; i<app.config.SLIDER.length;i++){
    var d = app.config.SLIDER[i],
        width = perc;
    %>
   <li style="left:<%= i * perc %>%;width:<%=width%>%"  base> 
        <a href="#" class="point" year="<%= d.getUTCFullYear() %>"></a>
        <div class="ornament"  > <%= d.getUTCFullYear() %></div>
        <label><%= d.getUTCFullYear() %></label>
    </li>
<% } %>

<%
    var idx_sel = 0,
        idx_ref = 0;
    for (var i=0; i<app.config.SLIDER.length;i++){
        var d = app.config.SLIDER[i];
        
        if (d.getUTCFullYear() == ctx.slider[0].date.getUTCFullYear()){
            idx_sel = i;
        }

        if (d.getUTCFullYear() == ctx.slider[1].date.getUTCFullYear()){
            idx_ref = i;
        }
    }

    width_sel = perc;
    d_sel = app.config.SLIDER[idx_sel];

    width_ref = perc;
    d_ref = app.config.SLIDER[idx_ref];
%>

    <li style="left:<%= idx_sel * perc %>%;width:<%= width_sel %>%" selected class="draggable" > 
        <div class="ornament" > <%= d_sel.getUTCFullYear() %></div>
    </li>

    <li style="left:<%= idx_ref * perc %>%;width:<%= width_ref %>%" selected ref class="draggable" > 
        <div class="ornament ref" > <%= d_ref.getUTCFullYear() %></div>
    </li>

</ul>




