<div class="conteiner-fluid variable_selector popup" >
        <div class="header">
            <div class="row">
                <h3 class="col-sm-6 col-md-6">
                    <lang>Análisis de variables</lang>
                </h3>

                <div class="col-sm-6  col-md-6">
                   
                    <a href="#" id="save" class="button check"><lang>Hecho</lang></a>
                    <a href="#" id="cancel" class="grey_light">Cancelar</a>
                </div>
            </div>
            <div class="row">
                 <div class="col-xs-12 red" >
                    <strong><%= app.variableToString(ctx.variables[0]) %> </strong>
                    <lang>seleccionado</lang>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="wheel">
                <div class="l1">
                    <div class="eco"><div class="img" variable="eco"></div></div>
                    <div class="soft"><div class="img"></div></div>
                    <div class="militar"><div class="img"></div></div>
                </div>
                <div class="l2">

                    <div class="troops">
                        <div class="img" variable="troops"></div>
                        <div class="sep"></div>
                    </div>
                    <div class="military_equipment">
                        <div class="img"></div>
                        <div class="sep"></div>
                    </div>

                    <div class="energy">
                        <div class="img"></div>
                        <div class="sep"></div>
                    </div>
                    <div class="primary_goods">
                        <div class="img"></div>
                    </div>
                    <div class="manufactures ">
                        <div class="img"></div>
                        
                    </div>
                    <div class="services">
                        <div class="img"></div>
                        
                    </div>
                    <div class="investments">
                        <div class="img"></div>
                        
                    </div>

                    <div class="migrations ">
                        <div class="img"></div>
                        
                    </div>
                    <div class="tourism ">
                        <div class="img"></div>
                        
                    </div>
                    <div class="sports ">
                        <div class="img"></div>
                        
                    </div>
                    <div class="culture ">
                        <div class="img"></div>
                    </div>
                    <div class="information ">
                        <div class="img"></div>
                        
                    </div>
                    <div class="technology ">
                        <div class="img"></div>
                        
                    </div>
                    <div class="science ">
                        <div class="img"></div>
                        
                    </div>
                    <div class="education ">
                        <div class="img"></div>
                        
                    </div>
                    <div class="cooperation ">
                        <div class="img"></div>
                        
                    </div>
                </div>


            </div>
            
        </div>
    </div>
</div>