/*

  Configuration parameters.

*/
\set host localhost
\set port 5432
\set dbname elcano_iepg
\set superuser postgres
\set superpass postgres
\set user elcano_iepg_admin
\set pass elcano_iepg

\set root /home/git/elcano-iepg/database
\set lib :root'/lib'

\set postgis :lib'/postgis.sql'
\set spatial_ref_sys :lib'/spatial_ref_sys.sql'
\set array :lib'/array.sql'
\set copy_master_country :root'/master_country.csv'
\set copy_country_relation :root'/country_relation.csv'
\set copy_iepg_final_data :root'/iepg_final_data.csv'
\set copy_pob_pib :root'/pib_pob.csv'
\set copy_iepg_comment :root'/iepg_comment.csv'
\set copy_country_geom :root'/country_geom.csv'
