cdn/backend/es/index.html
cdn/backend/en/index.html
cdn/frontend/es/index.html
cdn/frontend/en/index.html
cdn/backend/tmp
main.min.js
main.min.css
src/build/tmp
src/build/config.js
src/backend/js/config.js
src/frontend/js/config.js
