<div class="contact">
   <!--  <div id="map">
    </div> -->
    <div class="container">
        <div class="row mth2 mbh2">
            <h3 class="col-md-12 roboto_light red size_24"><lang>Contacto</lang></h3>
        </div>

    </div>

    <div class="sep"></div>

    <div class="container">
        <div class="row  mbh2">
            <div class="col-md-5 mth1 block" >
                <h4 class="uppercase size_15 roboto_cond_bold grey">
                    <lang>Ayuda y soporte</lang>
                </h4>
                <p class="roboto size_15 grey lh1 mth2">
                    <lang>Si usted tiene alguna pregunta, sugerencia o solicitud relacionada con el Índice Elcano de Presencia Global, por favor escríbanos a</lang>: <br/>
                    <a href="mailto:info@globalpresence.realinstitutoelcano.org" class="bottom_yellow"target="_blank">
                        info@globalpresence.realinstitutoelcano.org
                    </a>
                </p>

                <p class="roboto size_15 grey lh1 mth1">
                    <lang>Si usted tiene alguna pregunta o problema relacionado con este portal, por favor escríbanos a</lang>:<br/>
                    <a href="mailto:support@globalpresence.realinstitutoelcano.org" class="bottom_yellow"target="_blank">
                        support@globalpresence.realinstitutoelcano.org
                    </a>
                </p>

                <h6 class="roboto_light size_18 red mth2"><lang>Fundación Real Instituto Elcano</lang></h6>

                <address class="roboto_light size_18 grey">C/ Príncipe de Vergara, 51<br/>28006 Madrid<br/>España</address>
                <p class="roboto_light size_18 grey mth2">
                    <lang>Teléfono</lang>: <a href="tel:+ 34 91 781 6770" class="bottom_yellow" target="_blank">+ 34 91 781 6770</a><br/>
                    Fax: <a href="tel:+ 34 91 426 2157" class="bottom_yellow" target="_blank">+ 34 91 426 2157</a>
                </p>
            </div>
            <div class="col-md-5 mth1 block">
                <h4 class="uppercase size_15 roboto_cond_bold grey">
                    <lang>Equipo proyecto Índice Elcano de Presencia Global</lang>
                </h4>

                <h6 class="roboto_bold grey_dark size_16 mth2"><lang>Coordinadora</lang></h6>
                <h6 class="roboto grey size_14 mt lh1">Iliana Olivié</h6>
                <p class="roboto size_13 grey lh1">
                <lang>Investigadora principal del Real Instituto Elcano y coordinadora del Proyecto Índice Elcano de Presencia Global</lang>.<br/>
                    <a href="mailto:iolivie@rielcano.org" class="bottom_yellow" target="_blank"> iolivie@rielcano.org</a>
                    <a href="http://www.twitter.com/iolivie" class="ml bottom_yellow" target="_blank">@iolivie</a>
                    <img src="/img/ELC_icon_twitter_autor.png" />
                </p>

                <h6 class="roboto_bold grey_dark size_16 mth2"><lang>Investigador</lang></h6>
                <h6 class="roboto grey size_14 mt lh1">Manuel Gracia</h6>
                <p class="roboto size_13 grey lh1">
                    <lang>Investigador del Proyecto Índice Elcano de Presencia Global</lang>.<br/>
                    <a href="mailto:mgracia@rielcano.org" class="bottom_yellow" target="_blank">mgracia@rielcano.org</a>
                    <a href="http://www.twitter.com/mgraciasn" class="ml bottom_yellow" target="_blank">@mgraciasn</a>
                    <img src="/img/ELC_icon_twitter_autor.png" />
                </p>

                <h6 class="roboto_bold grey_dark size_16 mth2"><lang>Colaboradores</lang></h6>

                <h6 class="roboto grey size_14 mt lh1">Ivanosca López Valerio</h6>
                <p class="roboto size_13 grey lh1">
                    <lang>Coordinadora de la Web y Elcano Blog</lang>.<br/>
                    <a href="mailto:ilopezvalerio@rielcano.org" class="bottom_yellow" target="_blank">ilopezvalerio@rielcano.org</a>

                    <a href="http://www.twitter.com/quiet_analysis" class="ml bottom_yellow" target="_blank">@quiet_analysis</a>
                    <img src="/img/ELC_icon_twitter_autor.png" />
                </p>

                <h6 class="roboto grey size_14 mt lh1">Juan Ruitiña</h6>
                <p class="roboto size_13 grey lh1">
                    <!-- <lang>Community manager y asistente web</lang>.<br/> -->
                    (2014 - 2019)<br/>
                    <a href="https://ruitina.com/" target="_blank" class="bottom_yellow" target="_blank">ruitina.com</a>

                    <a href="http://www.twitter.com/juanruitina" class="ml bottom_yellow" target="_blank">@juanruitina</a>
                    <img src="/img/ELC_icon_twitter_autor.png" />
                </p>

                <h6 class="roboto_bold grey_dark size_16 mth2"><lang>Desarrollo y plataforma</lang></h6>
                <h6 class="roboto grey size_14 mt lh1">Geographica</h6>
                <p class="roboto size_13 grey lh1">
                    <a href="http://www.geographica.gs" class="bottom_yellow" target="_blank">www.geographica.gs</a>
                </p>

            </div>
            <div class="col-md-2 pth1 last_iepg">
                <%= _.template($("#last_iepg_template").html())() %>
            </div>

        </div>
    </div>
</div>
