<div class="search_header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <input type="text" placeholder="<lang>buscar documentos </lang>" />
            </div>
        </div>
        <div class="row mt12">
            <button class="fleft" id="ctrl_filter"><lang>Filtrar</lang></button>
            <div class="fleft" id="sel_filters"></div>        
            <div id="n_resultados"></div>
        </div>

        <div id="all_filters" style="display:none"></div>

    </div>
</div>  

<div class="list_els container  mth1">

</div>

<div class="container mbh2 ">
    <button class="button go" id="ctrl_more" style="display:none"><lang>Más documentos</lang></button>
</div>

<div class="l2"></div>