<% _.each(collection,function(d){ %>
    <div class="row mt12">
        <div class="col-md-2 size_15 text_bold grey ">
            <span class="size_13 grey_light "><%= app.dateTimeFormat(d.time) %><br/><lang>Por</lang></span>
            <div class="authors">
                <% 
                i = 0;
                _.each(d.wwwuser,function(a){
                    i++;
                    if (i>1){
                        print(", ");
                    }
                %>
                    <a href="#" ><%= a %></a>
                <% });%>
            </div>
        </div>
                
        <div class="col-md-10">
            <p class="size_18 grey_dark roboto_light"><%= app.urlify(d.title,"target=_blank") %></p>
            <p class="size_13 grey_dark"><%= app.urlify(d.theme,"target=_blank") %></p>
            <div class="l1"></div>
            <p>

                <% _.each(d.labels,function(l){ %>
                    <a class="label" href="#"><%= l %></a/>
                <%  }); %>
            </p>
        </div>

    </div>
    <div class="sep mtbh1"></div>
<% }); %>