<div id="downloadPoup">
	<h1><lang>Opciones de descarga</lang></h1>
	<h2><lang>¿Como desea configurar el contenido en su documento <i>Excel</i>?</lang> </h2>
	
	<div class="columnas selector">
		<p><b><lang>Las columnas:</lang></b></p>
		<div idSelect="0" class="circle active"></div><p name="year" class="active">Año</p>
		<div idSelect="1" class="circle"></div><p name="country">País</p>
		<div idSelect="2" class="circle"></div><p name="variable" class="semiActive">Variable</p>
	</div>

	<div class="selector">
		<p><b><lang>Las filas:</lang></b><p>
		<div idSelect="0" class="circle"></div><p name="year">Año</p>
		<div idSelect="1" class="circle active"></div><p name="country" class="active">País</p>
		<div idSelect="2" class="circle"></div><p name="variable" class="semiActive">Variable</p>
	</div>

	<p class="pestania"><lang><b>Las pestañas</b> de crearán en base a: <i>Variable</i></lang></p>

	<div class="botonera">
		<div class="active">Descargar .XLS</div>
		<p>Cancelar</p>
	</div>
</div>