<div class="faq ">
    <div class="container">
        <div class="row mth2 mbh2">
            <h3 class="col-md-12 roboto_light red size_24"><lang>Preguntas frecuentes sobre el Índice Elcano de Presencia Global</lang></h3>
        </div>
    </div>
    
    <div class="sep"></div>

    <div class="container static_data_page">
        <div class="row mbh2">
            <div class="col-md-10 frame_border" >
                <div class="row mth3">
                    <div class="col-md-2">
                        <img src="/img/ELC_img_faqs.svg" />
                    </div>
                    <div class="col-md-10">
                        <ul class="index">
                            <li><lang>_faq title 1</lang></li>
                            <li><lang>_faq title 2</lang></li>
                            <li><lang>_faq title 3</lang></li>
                            <li><lang>_faq title 4</lang></li>
                            <li><lang>_faq title 5</lang></li>
                            <li><lang>_faq title 6</lang></li>
                            <li><lang>_faq title 7</lang></li>
                            <li><lang>_faq title 8</lang></li>
                            <li><lang>_faq title 9</lang></li>
                            <li><lang>_faq title 10</lang></li>
                            <li><lang>_faq title 11</lang></li>
                            <li><lang>_faq title 12</lang></li>
                            <li><lang>_faq title 13</lang></li>
                            <li><lang>_faq title 14</lang></li>
                        </ul>
                        <div class="sep mth2"></div>

                    </div>
                </div>

                <div class="row" data-el=1>
                    <div class="col-md-10">
                        <h6><lang>_faq title 1</lang></h6>
                        <p><lang>_faq text 1</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=2>
                    <div class="col-md-10">
                        <h6><lang>_faq title 2</lang></h6>
                        <p><lang>_faq text 2</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=3>
                    <div class="col-md-10">
                        <h6><lang>_faq title 3</lang></h6>
                        <p><lang>_faq text 3</lang>.</p>
                    </div>
                </div>
                
                <div class="row" data-el=4>
                    <div class="col-md-10">
                        <h6><lang>_faq title 4</lang></h6>
                        <p><lang>_faq text 4</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=5>
                    <div class="col-md-10">
                        <h6><lang>_faq title 5</lang></h6>
                        <p><lang>_faq text 5</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=6>
                    <div class="col-md-10">
                        <h6><lang>_faq title 6</lang></h6>
                        <p><lang>_faq text 6</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=7>
                    <div class="col-md-10">
                        <h6><lang>_faq title 7</lang></h6>
                        <p><lang>_faq text 7</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=8>
                    <div class="col-md-10">
                        <h6><lang>_faq title 8</lang></h6>
                        <p><lang>_faq text 8</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=9>
                    <div class="col-md-10">
                        <h6><lang>_faq title 9</lang></h6>
                        <p><lang>_faq text 9</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=10>
                    <div class="col-md-10">
                        <h6><lang>_faq title 10</lang></h6>
                        <p><lang>_faq text 10</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=11>
                    <div class="col-md-10">
                        <h6><lang>_faq title 11</lang></h6>
                        <p><lang>_faq text 11</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=12>
                    <div class="col-md-10">
                        <h6><lang>_faq title 12</lang></h6>
                        <p><lang>_faq text 12</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=13>
                    <div class="col-md-10">
                        <h6><lang>_faq title 13</lang></h6>
                        <p><lang>_faq text 13</lang>.</p>
                    </div>
                </div>

                <div class="row" data-el=14>
                    <div class="col-md-10">
                        <h6><lang>_faq title 14</lang></h6>
                        <p><lang>_faq text 14</lang>.</p>
                    </div>
                </div>

                <div class="sep mth2 mbh2"></div>

            </div>
            <div class="col-md-2 pth1 last_iepg">
               <%= _.template($("#last_iepg_template").html())() %>

            </div>

        </div> 
    </div>
</div>