<div class="faq">
    <div class="container">
        <div class="row mth2 mbh2">
            <h3 class="col-md-12 roboto_light red size_24"><lang>Preguntas frecuentes sobre el Índice Elcano de Presencia Global</lang></h3>
        </div>
    </div>
    
    <div class="sep"></div>

    <div class="container">
        <div class="row mbh2">
            <div class="col-md-10 frame_border" >
                <div class="row mth3">
                    <div class="col-md-2">
                        <img src="/img/ELC_img_faqs.png" />
                    </div>
                    <div class="col-md-10">
                        <ul class="index">
                            <li><lang>_faq title 1</lang></li>
                            <li><lang>_faq title 2</lang></li>
                            <li><lang>_faq title 3</lang></li>
                            <li><lang>_faq title 4</lang></li>
                            <li><lang>_faq title 5</lang></li>
                            <li><lang>_faq title 6</lang></li>
                        </ul>
                        <div class="sep mth2"></div>

                    </div>
                </div>

                <div class="row" data-el=1>
                    <div class="col-md-10">
                        <h6><lang>_faq title 1</lang></h6>
                        <p><lang>_faq text 1</lang></p>
                    </div>
                </div>

                <div class="row" data-el=2>
                    <div class="col-md-10">
                        <h6><lang>_faq title 2</lang></h6>
                        <p><lang>_faq text 2</lang></p>
                    </div>
                </div>

                <div class="row" data-el=3>
                    <div class="col-md-10">
                        <h6><lang>_faq title 3</lang></h6>
                        <p><lang>_faq text 3</lang></p>
                    </div>
                </div>
                
                <div class="row" data-el=4>
                    <div class="col-md-10">
                        <h6><lang>_faq title 4</lang></h6>
                        <p><lang>_faq text 4</lang></p>
                    </div>
                </div>

                <div class="row" data-el=5>
                    <div class="col-md-10">
                        <h6><lang>_faq title 5</lang></h6>
                        <p><lang>_faq text 5</lang></p>
                    </div>
                </div>

                <div class="row" data-el=6>
                    <div class="col-md-10">
                        <h6><lang>_faq title 6</lang></h6>
                        <p><lang>_faq text 6</lang></p>
                    </div>
                </div>
                
                <div class="sep mth2 mbh2"></div>

            </div>
            <div class="col-md-2 pth1 last_iepg">
                <h4 class="size_11 roboto_bold grey size_11 uppercase"><lang>Último índice</lang></h4>
                <div class="mth1">
                    <a href="/<lang>es</lang>/data/Informe_IEPG_2012.pdf" class="nostyle" target="_blank" title="<lang>Descargar informe 2012</lang>">
                        <img src="/img/IEPG_2012_cover.jpg" /><br/>
                        <span class="roboto_bold size_13 grey_dark"><lang>Índice Elcano de Presencia Global 2012 (PDF 2,4Mb)</lang></span>
                    </a>
                </div>
                <div class="sep_grey_dark"></div>

            </div>

        </div> 
    </div>
</div>