<section id="carousel"></section>

<section id="explora" >
    <div class="container maxFixWidth">

        <div class="col-md-7 col-sm-12" id="explora_desc" >
            <!-- <h3><lang>Qué mide el índice Elcano de presencia global</lang></h3> -->
            <p class="size_24" data-el="default">
                <%

                    s = "<lang>_home IEPG explora desc</lang>";
                    link = "<lang>lang</lang>/<lang>_link about</lang>";

                    print(sprintf(s,link));
                %>
            </p>
            
            <p class="size_24 hide" data-el="soft"><lang>La <strong>presencia blanda</strong> se mide a través de las 
migraciones, el turismo, el rendimiento deportivo en competiciones internacionales, las patentes 
internacionales, los artículos publicados en revistas 
científicas, la ayuda al desarrollo, entre otros.</lang>
            </p>

            <p class="size_24 hide" data-el="military"><lang>La <strong>presencia militar</strong> se mide con las tropas 
desplegadas en el extranjero y con el equipamiento 
militar.</lang>
            </p>

             <p class="size_24 hide" data-el="eco"><lang>La <strong>presencia económica</strong> se mide a través de las 
exportaciones de energía, bienes primarios,
manufacturas y servicios, así como las inversiones
directas en el exterior.</lang>
            </p>

            <button class="eco"><lang>Económica</lang></button>
            <button class="military"><lang>Militar</lang></button>
            <button class="soft"><lang>Blanda</lang></button>
        </div>


        <div class="min_res_sep">
            <div></div>
        </div>

        <div class="col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-3" id="explora_sel">
            <h3>Explora el índice</h3>
            <div id="co_year">
                <div id="year">
                    2012
                </div>
                <div class="co_popup"  id="popup_year" style="display:none">
                    <div class="popup_content">
                        <h6><lang>Años</lang></h6>
                        <ul>
                            <li><a href="#">2007</a></li>
                            <li><a href="#">2008</a></li>
                            <li><a href="#">2009</a></li>
                            <li><a href="#">2010</a></li>
                            <li><a href="#">2011</a></li>
                            <li selected><a href="#">2012</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2014</a></li>
                        </ul>
                    </div>

                    <div class="arrow"></div>
                    
                </div>
            </div>
            <div id="co_country">
                <div id="country">
                España
                </div>
                <div class="co_popup"  id="popup_country" style="display:none"></div>
            </div>
            
            <button class="go_explora"><lang>Calcular</lang></button>
            <div class="faq">
                <a href="" class=><lang>Preguntas más frecuentes</lang></a>
            </div>
        </div>
        <div class="clear"></div>

        <div class="l2"></div>
    </div>
</section>

<section id="news" >
    
    <div class="header">

        <div class="container maxFixWidth">
            <div class="row">
                <div class="col-md-2 size_15 text_bold grey mt12 top_title"><lang>Novedades</lang></div>
                
                <ul class="inlblock col-md-10">
                    <li selected><a href=""><lang>Todas</lang></a></li>
                    <li><a href=""><lang>Blog</lang></a></li>
                    <li><a href=""><lang>En los medios</lang></a></li>
                    <li><a href=""><lang>Eventos</lang></a></li>
                    <li><a href=""><lang>Documentos y publicaciones</lang></a></li>
                    <li><a href=""><lang>Twitter</lang></a></li>
                </ul>

            </div>

        </div>
    </div>

 
    <div class="container maxFixWidth">
        <div id="co_news" class="list_els"></div>


        <div class="row mth1">
            <div class="col-md-offset-2 col-md-10">
                <a href="/<lang>lang</lang>/<lang>_link news</lang>" class="button go">
                   Más noticias
                </a>
                <a href="/<lang>lang</lang>/<lang>_link docs</lang>"class="ml button go"><lang>Documentos y publicaciones</lang></a>
            </div>
        </div>

    </div>

    <div class="l2"></div>

</section>