<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=768px">
    <meta name="description" content="">
    <meta name="author" content="">
        
    <link rel="shortcut icon" href="/img/favicon.png">

    <title><lang>Índice Elcano de Presencia Global - Administración</lang></title>
    <link rel='stylesheet' href='/css/main.min.css'>
        
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
        
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    
    <header >
        <div class="container">
            <a id="top_logo" href="http://www.realinstitutoelcano.org/" class="fleft nostyle"
                title="Real Instituto Elcano Royal institute" target="_blank">
                <img src="/img/ELC_logo_cab.svg"  height="130px" width="265px" alt="Real Instituto Elcano Royal institute">
            </a>
            <div class="fright mt">
                <nav class="grey_dark fright size_13">
                    <ul class="inlblock " id="top_menu">
                        <li>
                            <a href="/<lang>lang</lang>/faq" class="min"><lang>Preguntas más frecuentes</lang></a>
                        </li>
                        <li>
                            <a href="/<lang>lang</lang>/<lang>_link contact</lang>" class="min"><lang>Contacto</lang></a>
                        </li>
                        <li>
                            <a href="#" id="ctrl_language" class="min">
                                <lang>Idioma</lang> 
                                <span class="red text_bold" id="lang_marker">ES</span>
                                <span class="caret -mt4"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul id="menu_language" style="display:none">
                    <li><a href="/es" class="nostyle"><lang>Español</lang></a></li>
                    <li><a href="/en" class="nostyle"><lang>Inglés</lang></a></li>
                </ul>
                <div class="clear"></div>

                <h1 class="fright">
                    <a href="/<lang>lang</lang>/<lang>_link home</lang>" class="min">
                        Índice Elcano de Presencia Global</a>
                </h1>
            </div>
        </div>
        <div class="clear"></div>
        <nav>
            <div class="container">
                <ul class="inlblock size_14" id="menu"> 
                    <li selected>
                        <a data-menu="home" href="/<lang>lang</lang>/<lang>_link home</lang>"><lang>Portada<lang></a>
                    </li>
                    <li data-has-submenu>
                        <a data-menu="about" href="/<lang>lang</lang>/<lang>_link about</lang>"><lang>Qué es</lang></a>
                        <ul style="display:none" >
                             <li>
                                <a data-submenu="about" href="/<lang>lang</lang>/<lang>_link about</lang>"><lang>Definición del proyecto</lang></a>
                            </li>
                            <li>
                                <a data-submenu="infr" href="/<lang>lang</lang>/<lang>_link about infr</lang>"><lang>Estructura del IEPG</lang></a>
                            </li>
                            <li>
                                <a data-submenu="meth" href="/<lang>lang</lang>/<lang>_link about meth</lang>"><lang>Metodología</lang></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/<lang>lang</lang>/explora"><lang>Explora</lang></a>
                    </li>
                    <li>
                        <a data-menu="docs" href="/<lang>lang</lang>/<lang>_link docs</lang>"><lang>Documentos y publicaciones</lang></a>
                    </li>
                    <li>
                        <a data-menu="news" href="/<lang>lang</lang>/<lang>_link news</lang>"><lang>Noticias</lang></a>

                    </li>
                    
                </ul>
            </div>
        </nav>
    </header>
      
   <main>
   </main>

    <footer>
        <div class="container">
            <div class="l2"></div>
            <div class="col-md-7">
                <p class="desc">
                    El <strong>Índice Elcano de Presencia Global</strong> es un proyecto del Real Instituto Elcano de estudios internacionales y estratégicos.
                    <br/>
                    <a class="min_white" href="http://www.realinstitutoelcano.org" target="_blank">www.realinstitutoelcano.org</a>
                </p>

                <div class="co_social">
                    <ul class="inlblock social_networks">
                        <li class="mr15"><lang>Síguenos en</lang></li>
                        <li>
                            <a href="https://twitter.com/rielcano" class="twitter min_white" title="Twitter" target="_blank">
                                <img src="/img/icons/social_links/twitter_ico.png" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/RealInstitutoElcano" class="Facebook min_white" title="Facebook" target="_blank">
                                <img src="/img/icons/social_links/facebook_ico.png" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.realinstitutoelcano.org/wps/portal/web/rielcano_es/inicio/canales-rss/!ut/p/c5/04_SB8K8xLLM9MSSzPy8xBz9CP0os3jjEBf3QG93QwMDyyBnA0d3C-8QS1NDgzAPE30_j_zcVP2CbEdFADBWiP4!/dl3/d3/L2dJQSEvUUt3QS9ZQnZ3LzZfM1RER1FLRzEwMENLQzBJMzNSSUlRUjJTRDc!/" class="RSSLink min_white" title="RSS" target="_blank">
                                <img src="/img/icons/social_links/rss_footer_ico.png" alt="RSS">
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+ElcanoRIE/posts" class="googleplus min_white" 
                                title="Google +" target="_blank">
                                <img src="/img/icons/social_links/google_plus_ico.png" alt="google plus">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com/user/RealInstitutoElcano" class="Youtube min_white" title="Youtube" target="_blank">
                                <img src="/img/icons/social_links/youtube_ico.png" alt="youtube">
                            </a>
                        </li>
                        <!-- <li>
                            <a href="" class="vimeo" title="vimeo" target="_blank">
                                <img src="/img/icons/social_links/vimeo_ico.png" alt="vimeo">
                            </a>
                        </li> -->
                        <li>
                            <a href="https://www.flickr.com/photos/realinstitutoelcano/" class="Flikcr min_white" title="Flikr" target="_blank"><img src="/img/icons/social_links/flickr_ico.png" alt="flickr">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="l2"></div>

            </div>
            <div class="col-md-offset-1  col-md-4 nav_menu">
                <nav>
                    <ul class="menu">
                        <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link home</lang>"><lang>Portada</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link about</lang>"><lang>Qué es</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/explora"><lang>Explora</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link docs</lang>"><lang>Documentos y publicaciones</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link news</lang>"><lang>Noticias</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/faq"><lang>Preguntas más frecuentes</lang></a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>

        <div class="bottom">
            <div class="container">

                <span class="size_13 fleft copy"><lang>Copyright TEXT</lang></span>
                <ul class="inlblock fright">
                    <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link contact</lang>"><lang>Contacto</lang></a></li>
                    <li><a class="min_white" href="/<lang>lang</lang>/legal"><lang>Información Legal</lang></a></li>
                    <li><a class="min_white" href="/<lang>lang</lang>/privacity"><lang>Política de privacidad</lang></a></li>
                    <li>
                        <a class="min_white" href="http://www.geographica.gs" target="_blank" title="<lang>Developed + Design Geographica </lang>">
                            Geographica
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>

    </footer>

</body>
</html>

