<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="appViewport" name="viewport" content="width=768">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><lang>Índice Elcano de Presencia Global</lang></title>
    <link rel='stylesheet' href='/css/main.min.css'>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

  </head>

<body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-52414901-1', 'auto');
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var RSSLink = document.getElementById('rsslink');
            var isSpanish = document.URL.indexOf("/es/") != -1;
            if (!isSpanish) {
                RSSLink.href = 'https://www.realinstitutoelcano.org/en/feed/';
            }
        });
    </script>
    <header >
        <div class="container">
            <a id="top_logo" href="http://www.realinstitutoelcano.org/wps/portal/rielcano_<lang>lang</lang>/" class="fleft nostyle"
                title="Real Instituto Elcano Royal institute" normallink>
                <img src="/img/ELC_logo_cab.svg"  height="130px" width="265px" alt="Real Instituto Elcano Royal institute">
            </a>
            <div class="fright mt">
                <nav class="grey_dark fright size_13">
                    <ul class="inlblock " id="top_menu">
                        <!-- <li>
                            <a href="/<lang>lang</lang>/faq" class="min"><lang>Preguntas más frecuentes</lang></a>
                        </li>
                        <li>
                            <a href="/<lang>lang</lang>/<lang>_link contact</lang>" class="min"><lang>Contacto</lang></a>
                        </li> -->
                        <li>
                            <a href="#" id="ctrl_language" class="min">
                                <lang>Idioma</lang>
                                <span class="red text_bold" id="lang_marker">ES</span>
                                <span class="caret -mt4"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul id="menu_language" style="display:none">
                    <li><a href="/es" class="nostyle"><lang>Español</lang></a></li>
                    <li><a href="/en" class="nostyle"><lang>Inglés</lang></a></li>
                </ul>
                <div class="clear"></div>

                <h1 class="fright">
                    <a href="/<lang>lang</lang>/<lang>_link home</lang>" class="min">
                        <lang>Índice Elcano de Presencia Global</lang>
                    </a>
                </h1>
            </div>
        </div>
        <div class="clear"></div>
        <nav>
            <div class="container">
                <ul class="inlblock size_14" id="menu">
                    <li selected>
                        <a data-menu="home" href="/<lang>lang</lang>/<lang>_link home</lang>"><lang>Portada</lang></a>
                    </li>
                    <li data-has-submenu>
                        <a data-menu="about" href="/<lang>lang</lang>/<lang>_link about</lang>"><lang>Qué es</lang></a>
                        <ul style="display:none" >
                             <li>
                                <a data-submenu="about" href="/<lang>lang</lang>/<lang>_link about</lang>"><lang>Definición del proyecto</lang></a>
                            </li>
                            <li>
                                <a data-submenu="infr" href="/<lang>lang</lang>/<lang>_link about infr</lang>"><lang>Estructura del IEPG</lang></a>
                            </li>
                            <li>
                                <a data-submenu="meth" href="/<lang>lang</lang>/<lang>_link about meth</lang>">
                                    <lang>Metodología</lang>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/<lang>lang</lang>/explora"><lang>Explora</lang></a>
                    </li>
                    <li>
                        <a data-menu="docs" href="/<lang>lang</lang>/<lang>_link docs</lang>"><lang>Documentos y publicaciones</lang></a>
                    </li>
                    <li>
                        <a data-menu="news" href="/<lang>lang</lang>/<lang>_link news</lang>"><lang>Noticias</lang></a>
                    </li>
                    <li>
                        <a data-menu="faq" href="/<lang>lang</lang>/faq" ><lang>Preguntas frecuentes</lang></a>
                    </li>
                    <li>
                        <a data-menu="download" href="/<lang>lang</lang>/<lang>_link download</lang>"><lang>Datos</lang></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <header id="fixed_menu">
        <a id="top_logo" href="http://www.realinstitutoelcano.org/wps/portal/rielcano_<lang>lang</lang>/"
            target="_blank"
            title="Real Instituto Elcano Royal institute">
            <img src="/img/ELC_simbolo_cab.svg" alt="Real Instituto Elcano Royal institute">
        </a>
        <nav>
            <div>
                <div id="menu_btn"></div>
                <ul>
                    <li><a data-menu="home" href="/<lang>lang</lang>/<lang>_link home</lang>"><lang>Portada</lang></a></li>
                    <li class="quees">
                        <a><lang>Qué es</lang></a>
                        <ul>
                            <li><a data-submenu="about" href="/<lang>lang</lang>/<lang>_link about</lang>"><lang>Definición del proyecto</lang></a></li>
                            <li><a data-submenu="infr" href="/<lang>lang</lang>/<lang>_link about infr</lang>"><lang>Estructura del IEPG</lang></a></li>
                            <li><a data-submenu="meth" href="/<lang>lang</lang>/<lang>_link about meth</lang>"><lang>Metodología</lang></a></li>
                        </ul>
                    </li>
                    <li class="explora"><a href="/<lang>lang</lang>/explora"><lang>Explora</lang></a></li>
                    <li><a data-menu="news" href="/<lang>lang</lang>/<lang>_link news</lang>"><lang>Noticias</lang></a></li>
                    <li><a data-menu="docs" href="/<lang>lang</lang>/<lang>_link docs</lang>"><lang>Documentos y publicaciones</lang></a></li>
                    <li><a data-menu="faq" href="/<lang>lang</lang>/faq" ><lang>Preguntas frecuentes</lang></a></li>
                    <li><a data-menu="download" href="/<lang>lang</lang>/<lang>_link download</lang>"><lang>Datos</lang></a></li>
                </ul>
            </div>
        </nav>
        <h2>
            <lang>Índice Elcano de Presencia Global</lang>
        </h2>
        <h1>
            <span></span>
        </h1>
        <a href="#" class="goTop"><img src="/img/ELC_icon_ir_arriba.svg"></a>
    </header>

   <main style="min-height:500px">
        <div class='container'>
            <div class='row'>
                <div class='grid-md-10 col-md-offset-2'>
                    <div class='loading'><lang>Loading</lang></div>
                </div>
            </div>
        </div>
   </main>

    <footer>
        <div class="container">
            <div class="l2"></div>
            <div class="col-md-7">
                <p class="desc">
                    <lang>El <strong>Índice Elcano de Presencia Global</strong> es un proyecto del Real Instituto Elcano de estudios internacionales y estratégicos.</lang>
                    <br/>
                    <a class="min_white" href="http://www.realinstitutoelcano.org" target="_blank">www.realinstitutoelcano.org</a>
                </p>

                <div class="co_social">
                    <ul class="inlblock social_networks">
                        <li class="mr15"><lang>Síguenos en</lang></li>
                        <li>
                            <a href="https://www.realinstitutoelcano.org/feed/" id="rsslink" class="RSSLink min_white" title="RSS" target="_blank">
                                <img src="/img/icons/social_links/rss_footer_ico.png" alt="RSS">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/rielcano" class="twitter min_white" title="Twitter" target="_blank">
                                <img src="/img/icons/social_links/twitter_ico.png" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/RealInstitutoElcano" class="Facebook min_white" title="Facebook" target="_blank">
                                <img src="/img/icons/social_links/facebook_ico.png" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/real-instituto-elcano/" class="LinkedIn min_white" title="LinkedIn" target="_blank">
                                <img src="/img/icons/social_links/linkedin_ico.png" alt="linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/rielcano/" class="Instagram min_white" title="Instagram" target="_blank">
                                <img src="/img/icons/social_links/instagram_ico.png" alt="instagram">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/RealInstitutoElcano" class="Youtube min_white" title="Youtube" target="_blank">
                                <img src="/img/icons/social_links/youtube_ico.png" alt="youtube">
                            </a>
                        </li>
                        <!-- <li>
                            <a href="https://plus.google.com/+ElcanoRIE/posts" class="googleplus min_white"
                                title="Google +" target="_blank">
                                <img src="/img/icons/social_links/google_plus_ico.png" alt="google plus">
                            </a>
                        </li> -->
                        <!-- <li>
                            <a href="" class="vimeo" title="vimeo" target="_blank">
                                <img src="/img/icons/social_links/vimeo_ico.png" alt="vimeo">
                            </a>
                        </li> -->
                        <!-- <li>
                            <a href="https://www.flickr.com/photos/realinstitutoelcano/" class="Flikcr min_white" title="Flikr" target="_blank"><img src="/img/icons/social_links/flickr_ico.png" alt="flickr">
                            </a>
                        </li> -->
                    </ul>
                </div>

                <div class="l2"></div>

            </div>
            <div class="col-md-offset-1  col-md-4 nav_menu">
                <nav>
                    <ul class="menu">
                        <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link home</lang>"><lang>Portada</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link about</lang>"><lang>Qué es</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/explora"><lang>Explora</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link docs</lang>"><lang>Documentos y publicaciones</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link news</lang>"><lang>Noticias</lang></a></li>
                        <li><a class="min_white" href="/<lang>lang</lang>/faq"><lang>Preguntas más frecuentes</lang></a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>

        <div class="bottom">
            <div class="container">

                <span class="size_13 fleft copy"><lang>Copyright TEXT</lang></span>
                <ul class="inlblock fright">
                    <li><a class="min_white" href="/<lang>lang</lang>/<lang>_link contact</lang>"><lang>Contacto</lang></a></li>
                    <li><a class="min_white" href="/<lang>lang</lang>/legal"><lang>Información Legal</lang></a></li>
                    <li><a class="min_white" href="/<lang>lang</lang>/privacy"><lang>Política de privacidad</lang></a></li>
                    <li>
                        <a class="min_white" href="https://geographica.com" target="_blank" title="<lang>Diseño mas desarrollo</lang>">
                            Geographica, a CARTO Company.
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>

    </footer>
</body>
</html>
