<h4 class="size_11 roboto_bold grey size_11 uppercase"><lang>Último índice</lang></h4>
<div class="mth1">
    <a href="<%= app.latestReport() %>" class="nostyle" target="_blank" title="<%= sprintf("<lang>Descargar informe %s</lang>",2022)%>">
        <img src="/img/IEPG_2022_cover-<%=app.lang%>.png" /><br/>
        <span class="roboto_bold size_13 grey_dark"><%= sprintf("<lang>Índice Elcano de Presencia Global %s (PDF %sMb)</lang>",2022,1.7)%></span>
    </a>
</div>
<div class="sep_grey_dark"></div>
