<% _.each(collection,function(d){ %>
    <div class="row mt12">
        <div class="col-md-2 stamp">

            <span class="date"><%= app.dateTimeFormat(d.time) %><!-- &nbsp;&nbsp;<br/><lang>Por</lang></span> -->
            <!-- <div class="authors ">
                <% if (section != "Twitter") { %>
                    <span class="user"><%= d.wwwuser %></span>
                <% } else { %>
                <a href="https://www.twitter.com/<%= d.wwwuser.substring(1)%>" target="_blank">
                    <%=d.wwwuser%>
                </a>
                <% } %>
            </div> -->
        </div>
                
        <div class="col-md-10">
            <p class="size_18 grey_dark roboto_light " <%=d.section%>>
                <% 
                    link = d.link;
                    target = "_blank";
                    console.log(d.section);
                    switch (d.section)
                    {
                        case "Documentos":
                        case "Documents":
                            link = "/<lang>lang</lang>/<lang>_link doc</lang>/" + d.id_section;
                            target = "";
                            break;
                    }       

                    if (link){
                    %>
                        <a href="<%= link%>" class="min" target="<%= target%>">
                            <%= app.urlify(d.title,"target=_blank") %>
                        </a>
                    <%
                    } else { %>
                        <%= app.urlify(d.title,"target=_blank") %>
                    <% 
                    } 
                %>
            </p>
            <div class="l1"></div>
            <p>
                <% if (!section) { %>
                <span class="fleft red uppercase mr5 size_13 roboto_cond_bold"><%= d.section %></span>
                <% } %>

                <% _.each(d.labels,function(l){ 

                    if (d.section == "Documentos" || d.section == "Documents" ) {
                    %>
                        <a class="label" href="/<lang>lang</lang>/<lang>_link docs</lang>/<%= l.id %>"><%= l.label %></a/>
                    <% } else { %>
                        <a class="label" href="/<lang>lang</lang>/<lang>_link news</lang>/<%= l.id %>"><%= l.label %></a/>
                    <% } %>   
                <%  }); %>
            </p>
        </div>

    </div>
    <div class="sep mtbh1"></div>
<% }); %>