<div class="about methodology">
    <div class="container">
        <div class="row mth2 mbh2">

            <h6 class="col-md-12 roboto size_16 grey_dark" >
                <lang>_about subtitle meth</lang>
            </h6>

            <h3 class="col-md-12 roboto_light red size_24">
                <lang>_about title meth</lang>
            </h3>


        </div>
    </div>

    <div class="sep"></div>

    <div class="container ">
        <div class="row mbh2">
            <div class="col-md-10 frame_border" >

                <div class="row static_data_page">
                    <div class="col-md-12">
                        <p><lang>_methodology p1</lang></p>

                        <h6><lang>_methodology países h6</lang></h6>

                        <div class="row list_countries">
                            <%
                            var n_interval = collection.length < 3 ? 1 :
                                                app.isSMDevice() ? 2 : 3,
                                interval = parseInt(collection.length / n_interval),
                                offset = collection.length % n_interval;

                            for (var i=0;i<n_interval;i++){
                                var start = interval*i,
                                    end = interval*(i+1);

                                if (offset){
                                    end += offset;
                                    if (i>0){
                                        start += offset;
                                    }
                                }
                            %>
                            <ul class="col-md-4 col-sm-6 flag_wrapper">
                                <% _.each(collection.slice(start,end),function (d){%>
                                    <li>
                                        <img src="/img/flags/<%=d.id%>.svg" />
                                        <span><%= d.name %></span>
                                    </li>
                                <% }); %>
                            </ul>
                            <% } %>

                        </div>

                        <p><lang>_methodology países p</lang>.</p>

                        <h6><lang>Variables, indicadores y fuentes del Índice Elcano de Presencia Global</lang></h6>
                        <p><lang>_methodology tabla general</lang></p>
                        <h6><lang>La incorporación de la Unión Europea al Índice Elcano de Presencia Global</lang></h6>
                        <p><lang>_methodology incorporación UE p</lang>.</p>
                        <p><lang>_methodology incorporación UE p2</lang>.</p>

                        <h6 class="mth1"><lang>Variables, Indicadores y fuentes del Índice Elcano de Presencia Global calculado para la Unión Europea</lang></h6>
                        <lang>_methodology tabla IEPG</lang>

                        <h6><lang>Variables, Indicadores y fuentes del Índice Elcano de Presencia Europea</lang></h6>
                        <lang>_methodology tabla IEPE</lang>


                        <h6 class="mth1">
                            <lang>Para más Información sobre la metodología del Índice Elcano de Presencia Global, véase</lang>:
                        </h6>
                        <lang>_methodology más información lista</lang>

                    </div>


                </div>

                <div class="sep mth2 mbh2"></div>

            </div>
            <div class="col-md-2 pth1 last_iepg">
                <%= _.template($("#last_iepg_template").html())() %>

            </div>

        </div>
    </div>
</div>
