<div class="about ">
    <div class="container">
        <div class="row mth2 mbh2">
            <h3 class="col-md-12 roboto_light red size_24">
                <lang>_privacity title</lang>
            </h3>
        </div>
    </div>
    
    <div class="sep"></div>

    <div class="container ">
        <div class="row mbh2 mth3">
            
            <div class="col-md-10 block">
                <lang>_privacity body</lang>
            </div>
                
            <div class="col-md-2 pth1 last_iepg"></div>
        </div> 
    </div>
</div>