<div id="slider" >
    <a href="#" class="prev" title="<lang>Imagen anterior</lang>"></a>
    <a href="#" class="next" title="<lang>Imagen siguiente</lang>"></a>
    <div class="container">

        <ul class="ctrl_images">
            
        </ul>

        <div class="wrapper_text col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6 ">
            <h3>Nueva edición</h3>
            <h4>Índice Elcano de Presencia Global 2012</h4>
        </div>
        <div class="clear"></div>

    </div>

    <div class="co_img">
                                                                                                                                                                                                                                                                                                                                                                                            
    </div>

    <div id="circle_back" > </div>
    <div class="hide" id="co_imgs">
        
    </div>
</div>


