<div class="about structure">
    <div class="container">
        <div class="row mth2 mbh2">

            <h6 class="col-md-12 roboto size_16 grey_dark" >
                <lang>_about subtitle infr</lang>
            </h6>

            <h3 class="col-md-12 roboto_light red size_24">                
                <lang>_about title infr</lang>
            </h3>

        </div>
    </div>
    
    <div class="sep"></div>

    <div class="container ">
        <div class="row mbh2">
            <div class="col-md-10 frame_border" >
            	 <!-- <div class="row mth2">
                        <div class="col-md-10 col-md-offset-2">
                            
                            <div class="sep mth2"></div>
                        </div>
                    </div> -->
                <div class="row static_data_page">
                    <div class="col-md-12">
                    	
                        <img class="mth1 col-md-10 col-md-offset-1 coef" src="/img/ELC_info_estructura_coeficientes_<%= app.lang%>.png" />
                    </div>
                </div>

                <div class="sep mth2 mbh2"></div>

            </div>
            <div class="col-md-2 pth1 last_iepg">
                <h4 class="size_11 roboto_bold grey size_11 uppercase"><lang>Último índice</lang></h4>
                <div class="mth1">
                    <a href="/<lang>es</lang>/data/Informe_IEPG_2012.pdf" class="nostyle" target="_blank" title="<lang>Descargar informe 2012</lang>">
                        <img src="/img/IEPG_2012_cover.jpg" /><br/>
                        <span class="roboto_bold size_13 grey_dark"><lang>Índice Elcano de Presencia Global 2012 (PDF 2,4Mb)</lang></span>
                    </a>
                </div>
                <div class="sep_grey_dark"></div>

            </div>

        </div> 
    </div>
</div>


