<div class="about structure">
    <div class="container">
        <div class="row mth2 mbh2">

            <h6 class="col-md-12 roboto size_16 grey_dark" >
                <lang>_about subtitle infr</lang>
            </h6>

            <h3 class="col-md-12 roboto_light red size_24">                
                <lang>_about title infr</lang>
            </h3>

        </div>
    </div>
    
    <div class="sep"></div>

    <div class="container ">
        <div class="row mbh2">
            <div class="col-md-10 frame_border" >
            	 
                <div class="row static_data_page">
                    <div class="col-md-12">
                    	
                        <h6><lang>Estructura del Índice Elcano de Presencia Global</lang></h6>

                        <p><lang>_methodology criterios lista</lang></p>
                        <p><lang>_methodology criterios lista pie p</lang></p>

                        <div class="row">
                            <div class="mth1 col-md-10 col-md-offset-1 coef">
                                <img src="/img/ELC_info_estructura_coeficientes_<%= app.lang%>.png" id="structuremap" />
                                <div class='tooltip'>
                                    <div class='top'>
                                        <div class='title'>Variable</div>
                                        <div class='variable'></div>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="sep mth2 mbh2"></div>

            </div>
            <div class="col-md-2 pth1 last_iepg">
                <%= _.template($("#last_iepg_template").html())() %>
            </div>
        </div> 
    </div>
</div>

<div style="display: none">
<p id="iepg_text" class="desc">
                    <lang>Variable IEPG desc TEXTO</lang>
                </p>
                 <p id="iepe_text" class="desc">
                    <lang>Variable IEPE desc TEXTO</lang>
                </p>

                <p id="economic_global_text" class="desc">
                    <lang>Variable economic_presence desc TEXTO</lang>
                </p>

                 <p id="soft_global_text" class="desc">
                    <lang>Variable soft_presence desc TEXTO</lang>
                </p>

                <p id="military_global_text" class="desc">
                    <lang>Variable military_presence desc TEXTO</lang>
                </p>

                <!-- Military presence -->
                <p id="troops_text" class="desc">
                    <lang>Variable troops desc TEXTO</lang>
                </p>
                <p id="military_equipment_text" class="desc">
                    <lang>Variable military_equipment desc TEXTO</lang>
                </p>

                <!-- Economic presence -->
                <p id="energy_text" class="desc">
                    <lang>Variable energy desc TEXTO</lang>
                </p>
                <p id="primary_goods_text" class="desc">
                    <lang>Variable primary_goods desc TEXTO</lang>
                </p>
                <p id="manufactures_text" class="desc">
                    <lang>Variable manufactures desc TEXTO</lang>
                </p>
                <p id="services_text" class="desc">
                    <lang>Variable services desc TEXTO</lang>
                </p>
                <p id="investments_text" class="desc">
                    <lang>Variable investments desc TEXTO</lang>
                </p>

                <!-- Soft presence -->
                <p id="migrations_text" class="desc">
                    <lang>Variable migrations desc TEXTO</lang>
                </p>
                <p id="tourism_text" class="desc">
                    <lang>Variable tourism desc TEXTO</lang>
                </p>
                <p id="sports_text" class="desc">
                    <lang>Variable sports desc TEXTO</lang>
                </p>
                <p id="culture_text" class="desc">
                    <lang>Variable culture desc TEXTO</lang>
                </p>
                <p id="information_text" class="desc">
                    <lang>Variable information desc TEXTO</lang>
                </p>
                <p id="technology_text" class="desc">
                    <lang>Variable technology desc TEXTO</lang>
                </p>
                <p id="science_text" class="desc">
                    <lang>Variable science desc TEXTO</lang>
                </p>
                <p id="education_text" class="desc">
                    <lang>Variable education desc TEXTO</lang>
                </p>
                <p id="cooperation_text" class="desc">
                    <lang>Variable cooperation desc TEXTO</lang>
                </p>
</div>