<div class="about structure">
    <div class="container">
        <div class="row mth2 mbh2">

            <h6 class="col-md-12 roboto size_16 grey_dark" >
                <lang>_about subtitle infr</lang>
            </h6>

            <h3 class="col-md-12 roboto_light red size_24">                
                <lang>_about title infr</lang>
            </h3>

        </div>
    </div>
    
    <div class="sep"></div>

    <div class="container ">
        <div class="row mbh2">
            <div class="col-md-10 frame_border" >
            	 
                <div class="row static_data_page">
                    <div class="col-md-12">
                    	
                        <img class="mth1 col-md-10 col-md-offset-1 coef" src="/img/ELC_info_estructura_coeficientes_<%= app.lang%>.png" />
                    </div>
                </div>

                <div class="sep mth2 mbh2"></div>

            </div>
            <div class="col-md-2 pth1 last_iepg">
                <%= _.template($("#last_iepg_template").html())() %>
            </div>
        </div> 
    </div>
</div>


