<div class="row tituloDownload">
			<div class="col-sm-2 col-md-2"></div>
			<div class="col-sm-6 col-md-6 secondColumn">
				<h1 class="fleft"><lang>Paso 2/3 </lang><span class="grey"><lang>Seleccione los bloques temáticos</lang></span></h1>
				<div class="fright">
					<p class="fleft red"><lang><span class="numBloqsSelect">0</span> bloques seleccionados</lang></p>
					<p class="siguiente"><lang>Siguiente</lang></p>
				</div>
			</div>
		</div>
		
		
<div class="row">
<div class="col-sm-2 col-md-2"></div>

	<div class="col-sm-6 col-md-3">
		<img src="/img/variables/ELC_variable_b_ciencia_off.svg">
		<div class="tematica active">Prueba</div>
	</div>
	
	<div class="col-sm-3 col-md-3">
		<div class="tematica2">Prueba</div>
	</div>
</div>

<div class="row level2">
<div class="col-sm-2 col-md-2"></div>

	<div class="col-sm-6 col-md-3">
		<div class="tematica">Prueba</div>
	</div>
	
	<div class="col-sm-3 col-md-3">
		<div class="tematica2">Prueba</div>
	</div>
</div>

<div class="row level3">
<div class="col-sm-2 col-md-2"></div>

	<div class="col-sm-6 col-md-3">
		<div class="tematica">Prueba</div>
	</div>
	
	<div class="col-sm-3 col-md-3">
		<div class="tematica2">Prueba</div>
	</div>
</div>
