<div class="container">
	<div class="row tituloDownload">
				<div class="col-sm-12 col-md-12 secondColumn">
					<h1 class="fleft"><lang>Paso 2/3 </lang><span class="grey"><lang>Seleccione las variables</lang></span></h1>
					<div class="fright">
						<p class="fleft red numBloqsSelect2"><lang>0 variables seleccionadas</lang></p>
						<p class="siguiente"><lang>Siguiente</lang></p>
					</div>
				</div>
			</div>
			
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div class="tematica todos" family="iepg">
				<span><lang>Seleccionar todos</lang></span>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="tematica2 todos" family="iepe">
				<span ><lang>Seleccionar todos</lang></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div class="iconVariable" data-variable="iepg" family="iepg"></div>
			<div class="tematica" key="global" family="iepg">
				<%= app.variableToString("iepg") %>
			</div>

			<div id="cod_variables_iepg">
			</div>
		</div>

       <div class="col-sm-6 col-md-6">
			<div class="iconVariable" data-variable="iepe" family="iepe"></div>
			<div class="tematica2"  key="global" family="iepe">
				<%= app.variableToString("iepe") %>
			</div>
			<div id="cod_variables_iepe">
			</div>
		</div>
	</div>
</div>
