<div class="row tituloDownload">
			<div class="col-sm-2 col-md-2"></div>
			<div class="col-sm-6 col-md-6 secondColumn">
				<h1 class="fleft"><lang>Paso 1/3 </lang><span class="grey"><lang>Seleccione los años</lang></span></h1>
				<div class="fright">
					<p class="fleft red"><lang><span class="numAniosSelect">0</span> años seleccionados</lang></p>
					<p class="siguiente"><lang>Siguiente</lang></p>
				</div>
			</div>
		</div>


<div class="row">
	<div class="col-sm-2 col-md-2"></div>
	
	<div class="col-sm-1 col-md-1 ml celda all mr">
		<lang>Todos</lang>
	</div>
	
	<div class="col-sm-1 col-md-1 ml yearList"></div>
</div>