html, body{ height:100%;}
body {
	font-family: 'Roboto', sans-serif;
	color:#515155;
	font-size:16px;
	line-height:24px;
	font-weight:400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Roboto', sans-serif;}
.navbar-inverse{
	background:#fff;
	border-radius:0;
	border:none;
	}
a.LogoElCano{
	width:220px;
	height:108px;
	}
.icon-bar{ border: 1px solid red;}
.buttonGroupTop{
	border-bottom: 1px dotted #ccc;
	padding-bottom:36px;
	margin-bottom:10px;
	color:#a2a2ac
	}
.buttonGroupTop a, .buttonGroupTop .btn{ color:#28282b; font-size:13px; padding-top:10px;}
.buttonGroupTop a:hover, .buttonGroupTop .btn:hover{ color:#d60006; text-decoration: none;}
.IEPG{
	font-size:21px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:700;
	color:#d60006;
	margin:0 0 17px;
	padding:0;
	text-align: right;
	}
/*MENU PRINCIPAL*/
.navbar-principal{
	background:#28282b;
	margin-bottom:0px;
	min-height: 44px;
	border-bottom:0px;
	}
.navbar-principal .nav > li > a{ color:#d6d6d6; font-size:14px; line-height:18px; padding: 12px 15px 13px; font-family:'Roboto Condensed', sans-serif;}
.navbar-principal .nav > li > a:focus, .navbar-principal .nav > li > a:hover{ color:#28282b; background:#fdc300; border-bottom:1px solid #fdc300}
.navbar-principal .nav > li.active > a{ color:#fff; background: none; border-bottom:1px solid #fff;}
.navbar-principal .nav > li > a.ExploraBt{ background:url(../img/iconos/exploraBT_ico.png) no-repeat top left; padding-left:40px;}
.navbar-principal .nav > li > a.ExploraBt:hover{ background:url(../img/iconos/exploraBT_ico_hover.png) no-repeat top left #fdc300; padding-left:40px;}

.dropdown-menu{
	background:#28282b;
	color:#d6d6d6;
	border: 1px solid #515155;
	border-radius:0px;
	border:none;
	padding:0;
	}
.dropdown-menu > li > a {
    clear: both;
    color: #d6d6d6;
    display: block;
	line-height:18px;
	padding-top:9px;
	padding-bottom:9px;
	border-top:1px solid #515155;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{color:#28282b; background:#fdc300;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	color:#28282b; background:#fdc300;
}


/*BUSCADOR*/
.btn-buscar{
	border: none;
	border-radius: 0px;
	color:#d6d6d6;
	text-align: left;
	font-family:'Roboto Condensed', sans-serif;
	font-size:14px;
	line-height:18px;
	padding: 12px 15px 13px;
	width:140px;
	background:url(../img/iconos/search_ico.png) no-repeat right center #3e3e41;
	}
.btn-buscar:hover{color:#ececec; background:url(../img/iconos/search_ico_hover.png) no-repeat right center #3e3e41;}

*{ outline:none;}